@import "reset.css";
@import "blazor.css";

:root {
    --codeblock-padding: 40px;
    --codeblock-justify-content: left;
    --codeblock-tab-padding: 0 5px;
    --nav-display: flex;
    --horz-padding: 40px;
    --grid-template-columns: repeat(3, 1fr);
}

main {
    background: var(--baseSurface);
    color: var(--content);
    line-height: 2em;
}

    main:not(.inner) {
        background: var(--background);
    }

    main:is(.inner) > section {
        display: flex;
        gap: 20px;
    }

    main > header {
        align-items: center;
        background: var(--baseSurface);
        color: var(--content);
        display: flex;
        justify-content: space-between;
        height: 80px;
        padding: 0 var(--horz-padding);
    }

    main > header > section {
        display: flex;
        justify-content: space-between;
    }

    main > header > section,
    #page {
    }

main > section > nav {
    display: var(--nav-display);
    flex-direction: column;
    flex-shrink: 0;
    width: 240px;
}

/* typical phone screen resolution */
@media only screen and (max-width : 667px) {
    :root {
        --codeblock-padding: 50px;
        --codeblock-justify-content: center;
        --codeblock-tab-padding: 10px;
        --nav-display: none;
        --horz-padding: 15px;
        --grid-template-columns: 1fr;
    }
}

/* landscape orientation */
@media only screen and (min-width : 375px) and (max-width : 667px) and (orientation : landscape) {

}

/* portrait orientation */
@media only screen and (min-width : 375px) and (max-width : 667px) and (orientation : portrait) {

}

#page {
    padding: 0 var(--horz-padding);
}

#content {
    flex: 1;
}

code.parameter {
    color: #800080;
}

code.keyword {
    color: #0000ff;
}

code.attribute {
    color: #ff0000;
}

.country {
    display: flex;
    gap: 8px;
}