:root {
    --baseSurface: #000;
    --background: #121212;
    --surface: #1b1b1b;
    --secondarySurface: #262626;
    --active: #ffffff;
    --content: #f2f2f2;
    --activeText: #000;
    --gridLines: rgba(225, 225, 225, .25);
    --focusBorder: #0095ff;
    --fontSize: 12px;
    --fontSizeS: 11px;
    --fontSizeXS: 10px;
    --borderRadius: 4px;
    --borderRadiusLarge: 8px;
    --borderRadiusXL: 12px;
    --spacing: 4px;
    --spacingLarge: 8px;
    --selection: #0a2e4a;
    --selectionText: #000;
    --dangerSurface: #2b0f0b;
    --dangerContent: #ff3b3b;
    --successSurface: #112b0b;
    --successContent: #32d600;
}
