:root {
    --baseSurface: #000;
    --background: #121212;
    --surface: #1b1b1b;
    --active: #ffffff;
    --content: #fff;
    --activeText: #000;
    --gridLines: rgba(225, 225, 225, .25);
    --focusBorder: #0095ff;
    --fontSize: 12px;
    --fontSizeS: 11px;
    --fontSizeXS: 10px;
    --borderRadius: 4px;
    --borderRadiusLarge: 8px;
    --borderRadiusXL: 12px;
    --spacing: 4px;
    --spacingLarge: 8px;
    --selection: #d9efff;
    --selectionText: #000;
}
