:root {
    --background: hsl(0, 0%, 10%); /* Page background */

    /* Surface */
    --surface: hsl(0, 0%, 14%); /* Base container surface */
    --surface-secondary: hsl(0, 0%, 8%); /* Input, ListBox etc. */
    --surface-hover: hsl(0, 0%, 20%);
    --surface-active: hsl(0, 0%, 12%);

    /* Content */
    --active: white;
    --content: hsl(0, 0%, 90%);
    --content-inverted: black;

    /* Selected & focused states */
    --state-selection-bg: #0a2e4a;
    --state-selection-content: #f2f2f2;
    --state-focus-border: #0095ff;
    --state-focus-border-size: 2px;
    --state-focus-border-offset: 1px;

    /* Visual details */
    --grid-lines: rgba(225, 225, 225, .25);

    /* Size */
    --size-xs: 4px;
    --size-sm: 6px;
    --size-md: 8px;
    --size-lg: 12px;
    --border-radius-sm: var(--size-xs); /* 4 */
    --border-radius-md: var(--size-sm); /* 6 */
    --border-radius-lg: var(--size-md); /* 8 */

    --spacing: var(--size-xs);
    --spacing-md: var(--size-md);
    --surface-danger: #2b0f0b;
    --content-danger: #ff3b3b;
    --surface-success: #112b0b;
    --content-success: #32d600;
}

:root {
    --card-color: black;
    --component: var(--content);
    --attribute: #ff0000;
    --parameter: #800080;
    --keyword: #0000ff;
}