:root {
    --baseSurface: #fff;
    --background: #f7f7f7;
    --surface: #eaecee;
    --secondarySurface: #f3f3f3;
    --active: #0b0d0e;
    --content: #000;
    --activeText: #fff;
    --focusBorder: #0095ff;
    --gridLines: #ccc;
    --fontSize: 12px;
    --fontSizeS: 11px;
    --fontSizeXS: 10px;
    --borderRadius: 4px;
    --borderRadiusLarge: 8px;
    --borderRadiusXL: 12px;
    --spacing: 4px;
    --spacingLarge: 8px;
    --selection: #d9efff;
    --selectionText: #000;
    --dangerSurface: #ffe9e7;
    --dangerContent: #910808;
    --successSurface: #e7ffed;
    --successContent: #289208;
}
