* {
    font-family: 'Segoe UI', Verdana, Ariel, Geneva, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {   
    overscroll-behavior: none;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: auto;
}

body {
    font-size: 12px;
}

h1, h2, h3 {
    font-weight: 400;
}

h1, h2, h3 { margin: 1em 0; }

p {
    line-height: 2.0em;
    margin-bottom: 1em;
}