:root {
    --themePrimary: #0f6cbd; /* Primary button */
    --themeLight: #b4d6fa; /* Toolbutton dropped-down */
    --themeDark: #0f548c; /* Primary button hover */
    --themeDarker: #0c3b5e; /* Primary button hover & active */
    --neutralQuaternaryAlt: #ebebeb; /* Button hover & active */

    --themeSecondarySurfaceSelected: #cfe4fa; /* ListBox selection */

    --neutralLight: #f0f0f0; /* Toolbutton hover */
    --neutralLighter: #f5f5f5; /* Toolbutton active */
    --neutralLighterAlt: #fafafa; /* GridHeader hover */
    --neutralDark: #242424;
    --colorNeutralBackground1Pressed: #e0e0e0; /* ToolButton hover & active */
    --neutralTertiaryAlt: #e0e0e0;

    --danger: #e81123;
    --dangerSurface: #fef2f3;
    --success: #107c10;
    --successSurface: #f1faf1;

    --borderRadiusLarge: 6px;
    --borderRadiusMedium: 4px;
    --borderRadiusSmall: 2px;
    --spacingHorizontalS: 8px;
    --spacingVerticalS: 8px;

    --black: #000;
    --white: #fff;
}
