/* _content/Bergsoft.Blazor.Inspector/CheckBoxInspectorItem.razor.rz.scp.css */
/* _content/Bergsoft.Blazor.Inspector/ColorInspectorItem.razor.rz.scp.css */
.Palette[b-rwysfu86re] {
    border-left: 1px solid var(--gridLines, silver);
    display: flex;
    margin-left: var(--spacingLarge, 8px);
    padding-left: var(--spacingLarge, 8px);
    min-height: 12px;
    gap: var(--spacing, 4px);
    align-items: center;
}

.Palette svg[b-rwysfu86re] {
    cursor: pointer;
    transition-property: all;
    transition-duration: .25s;
}

.Palette svg:hover[b-rwysfu86re] {
    scale: 1.25;
}
/* _content/Bergsoft.Blazor.Inspector/Inspector.razor.rz.scp.css */
.Inspector[b-yvk4r7mjt8] {
    background: var(--baseSurface, white);
}
/* _content/Bergsoft.Blazor.Inspector/InspectorItem.razor.rz.scp.css */
.InspectorItem[b-88fl0x5k60] {
}

    .InspectorItem > header[b-88fl0x5k60] {
        align-items: center;
        display: grid;
        column-gap: var(--spacing, 4px);
        grid-template-columns: 1fr 1fr;
    }

    .InspectorItem > header section:first-child[b-88fl0x5k60] {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        column-gap: var(--spacingLarge, 8px);
    }

    .InspectorItem.Category > header[b-88fl0x5k60] {
        cursor: default;
        font-weight: bold;
        display: flex;
        text-align: left;
        min-height: 28px;
        padding-left: var(--spacingLarge, 8px);
    }

    .InspectorItem.Category > header:hover[b-88fl0x5k60] {
        background: var(--secondarySurface, lightgray);
    }

    .InspectorItem .Value[b-88fl0x5k60] {
        align-items: center;
        display: flex;
        padding: 0 var(--spacing, 4px);
    }

    .InspectorItem .Children[b-88fl0x5k60] {
        display: flex;
        flex-direction: column;
        gap: var(--spacingLarge, 8px);
        padding: var(--spacingLarge, 8px);
    }

.Toggle[b-88fl0x5k60] {
    transform: rotate(-90deg);
    transition: all .1s linear;
}

.Toggle.Expanded[b-88fl0x5k60] {
    transform: rotate(0deg);
}
/* _content/Bergsoft.Blazor.Inspector/TrackBarInspectorItem.razor.rz.scp.css */
.Text[b-nqyw3irbz1] {
    width: 28px;
    padding-left: var(--spacingLarge, 8px);    
}
