@import '_content/Bergsoft.Blazor.Grids/Bergsoft.Blazor.Grids.74pjofv5ml.bundle.scp.css';
@import '_content/Bergsoft.Blazor.Inspector/Bergsoft.Blazor.Inspector.kl8iu2mqac.bundle.scp.css';
@import '_content/Bergsoft.Blazor.Tabs/Bergsoft.Blazor.Tabs.2xi599nck3.bundle.scp.css';
@import '_content/Bergsoft.Blazor.Tree/Bergsoft.Blazor.Tree.5orx1qbwm9.bundle.scp.css';
@import '_content/Bergsoft.Blazor/Bergsoft.Blazor.46cgsfga7d.bundle.scp.css';

/* /Components/BackButton.razor.rz.scp.css */
.BackButton[b-g2isju7mh9] {
    align-items: center;
    background: none;
    border: none;
    border-radius: var(--border-radius-sm);
    color: var(--content);
    cursor: pointer;
    display: inline-flex;
    font-size: var(--bodyFontSize);
    margin-bottom: 1em;
    gap: 4px;
    padding: 8px;
}

.BackButton svg[b-g2isju7mh9] {
    transition: all ease-out .5s;
    position: relative;
    fill: var(--content);
    left: 2px;
}

    .BackButton:hover[b-g2isju7mh9] {
        background: var(--surface);
    }

    .BackButton:hover svg[b-g2isju7mh9] {
        left: 0;
    }
/* /Components/Card.razor.rz.scp.css */
.Card[b-upltcciw9r] {
    margin-bottom: 20px;
}

    .Card header a[b-upltcciw9r] {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 240px;
        height: 100%;
    }

    .Card header[b-upltcciw9r] {
        background: var(--background);
        border-radius: 16px;
        overflow: hidden;
    }

.Card h2[b-upltcciw9r] {
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.Card p[b-upltcciw9r] {
    margin: 0;
    word-wrap: break-word;
    overflow: hidden;
    white-space: normal;
}
/* /Components/CodeBlock.razor.rz.scp.css */
.CodeBlock[b-o7a8t63szu] {
    margin-bottom: 20px;
}

    .CodeBlock header[b-o7a8t63szu] {
        align-items: center;
        display: flex;
        gap: 16px;
        justify-content: var(--codeblock-justify-content);
    }

    .CodeBlock > section[b-o7a8t63szu] {
        border-top: 1px solid var(--grid-lines);
        top: -1px;
    }

    .CodeBlock .ChildContent[b-o7a8t63szu] {
        font-size: var(--fontSize);
    }

    .CodeBlock .ChildContent.Padding[b-o7a8t63szu] {
        padding: var(--codeblock-padding);
    }

    .CodeBlock button[b-o7a8t63szu] {
        background: none;
        border: 0;
        font-size: 11px;
        outline: 0;
        padding: var(--codeblock-tab-padding);
    }

    .CodeBlock button svg[b-o7a8t63szu] {
        fill: var(--content);
    }

    .CodeBlock button:not(.active)[b-o7a8t63szu] {
        cursor: pointer;
        border-bottom: 2px solid transparent;
    }

        .CodeBlock button.active[b-o7a8t63szu] {
            cursor: default;
            border-bottom: 2px solid var(--state-focus-border);
        }

    .CodeBlock .FileType[b-o7a8t63szu] {
        background: var(--surface);
        display: block;
        font-size: 9px;
        color: #999;
        padding: 10px 0 0 10px;
        text-transform: uppercase;
    }

    .CodeBlock pre[b-o7a8t63szu] {
        background: var(--surface);
        color: var(--content);
        font-family: monospace;
        font-size: 12px;
        padding: 10px;
        line-height: 1.5em;
        white-space: pre-wrap; 
        word-wrap: break-word; 
        overflow-wrap: break-word; 
    }
/* /Pages/BarsPage.razor.rz.scp.css */
.BrushPresets[b-4kjfufevw1] {
    margin-bottom: 20px;
}

    .BrushPresets td[b-4kjfufevw1] {
        padding: var(--spacing-md);
    }

    .Preset[b-4kjfufevw1] {
        width: 32px;
        height: 32px;
        border-radius: 16px;
    }

        .Selection[b-4kjfufevw1] {
            background: var(--state-focus-border);
        }

        .Yolk[b-4kjfufevw1] {
            background: #fcc902;
        }

        .Horizon[b-4kjfufevw1] {
            background: linear-gradient(to right, #f7c91e, #fb7f27, #f62df7, #00ffe7);
        }

        .Fire[b-4kjfufevw1] {
            background: linear-gradient(to right, #ff6d00, #ffe200);
        }

        .Marine[b-4kjfufevw1] {
            background: linear-gradient(to right, #00b48a, #49daff);
        }

        .Acid[b-4kjfufevw1] {
            background: linear-gradient(to right, #00d031, #e0ff42)
        }

    .title:not(:first-child)[b-4kjfufevw1] { margin: .5em 0 .5em 0; }

    .title:first-child[b-4kjfufevw1] { margin: 1em 0 .5em 0; }

    .description[b-4kjfufevw1] {
        margin: 0 0 1em 0;
        font-size: 11px;
    }

    .over-title[b-4kjfufevw1] {
        font-size: 10px;
        color: gray;
        margin-top: 1em;
    }

.alert[b-4kjfufevw1] {
    background: #c7253e;
    color: #fff;
    display: inline-block;
    font-size: 10px;
    padding: 4px;
    border-radius: 4px;
    margin-top: 1em;
}
/* /Pages/DatePickerPage.razor.rz.scp.css */
/* /Pages/Grids/LayoutsPage.razor.rz.scp.css */
.Avatar[b-8f9uj2pcjf] {
    align-items: center;
    background: #fada7a;
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    justify-content: center;
}
/* /Pages/Home.razor.rz.scp.css */
#headings[b-iivgup8hv0] {
    padding: 40px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.Hero[b-iivgup8hv0] {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width : 667px) {
    #headings[b-iivgup8hv0] {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

    #headings h1[b-iivgup8hv0] {
        font-size: 48px;
        font-weight: 800;
        margin-bottom: .25em;
    }

    #headings h2[b-iivgup8hv0] {
        line-height: 1.75em;
    }

    #gallery[b-iivgup8hv0] {
        display: grid;
        grid-template-columns: var(--grid-template-columns);
        gap: 20px;
        padding: 40px 0;
    }
/* /Pages/ListBoxPage.razor.rz.scp.css */
