@import '_content/BergSoft.UI.Blazor/BergSoft.UI.Blazor.bundle.scp.css';

/* /Components/Heading.razor.rz.scp.css */
.Heading[b-roj93vf4vt] {
    align-items: center;
    display: flex;
    margin-bottom: 1em;
}

@media (max-width: 600px) {
    .Heading[b-roj93vf4vt] {
        flex-direction: column;
    }
        .Heading h1[b-roj93vf4vt] {
            margin: 0;
        }
}

.Heading h1[b-roj93vf4vt] {
    flex: 1;
}

.Heading a[b-roj93vf4vt] {
    color: inherit;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    padding: 4px;
    text-decoration: none;
}

    .Heading a:hover[b-roj93vf4vt] {
        background: var(--buttonHover);
    }
/* /Components/Subscribe.razor.rz.scp.css */
.Subscribe[b-aii9ugq31s] {
    display: flex;
    gap: 8px;
    align-items: center;
}
