/*
    Dark style
    v1.0.2
*/

:root {
    --background: hsl(0, 0%, 10%); /* Page background */

    /* Surface */
    --surface: hsl(0, 0%, 14%); /* Base container surface */
    --surface-secondary: hsl(0, 0%, 8%); /* Inset surfaces: TextBox, ListBox etc. */
    --surface-hover: hsl(0, 0%, 20%); /* Button hover */
    --surface-active: hsl(0, 0%, 12%); /* Button pushed */

    /* Content */
    --active: white;

    --content: hsl(0, 0%, 100%);
    --content-secondary: hsl(0, 0%, 80%);
    --content-inverted: black;

    /* Selected & focused states */
    --state-selection-bg: #0a2e4a;
    --state-selection-bg-neutral: hsl(0, 0%, 19%);
    --state-selection-bg-neutral-secondary: hsl(0, 0%, 22%);
    
    --state-selection-content: #f2f2f2;

    --state-focus-border: #0095ff;
    --state-focus-border-size: 2px;
    --state-focus-border-offset: 1px;

    /* Visual details */
    --grid-lines: hsl(0, 0%, 33%);

    /* Size */

    --size-xs: 4px;
    --size-sm: 6px;
    --size-md: 8px;
    --size-lg: 12px;

    --border-radius-xxs: 2px; /* 2 */
    --border-radius-sm: var(--size-xs); /* 4 */
    --border-radius-md: var(--size-sm); /* 6 */
    --border-radius-lg: var(--size-md); /* 8 */
    --border-radius-xl: 10px; /* 10 */

    --spacing: var(--size-xs);
    --spacing-md: var(--size-md);

    --surface-danger: #2b0f0b;
    --content-danger: #ff3b3b;

    --surface-success: #112b0b;
    --content-success: #32d600;
}