/* _content/Bergsoft.Blazor.Tabs/PageControl.razor.rz.scp.css */
.PageControl[b-2ufusqrfot] {
}

.PageControl[b-2ufusqrfot] {
    display: flex;
}

    .PageControl .Tabs[b-2ufusqrfot] {
        display: flex;
        border-bottom: 1px solid var(--gridLines);
        width: 100%;
    }

    .PageControl.tabsLocationLeft .Tabs[b-2ufusqrfot] {
        flex-direction: column;
        padding: 4px;
        width: 48px;
    }

    .PageControl.tabsLocationTop[b-2ufusqrfot] {
        flex-direction: column;
    }

    .PageControl.tabsLocationLeft[b-2ufusqrfot] {
        flex-direction: row;
    }

        .PageControl .SideContent[b-2ufusqrfot] {
            display: flex;
            flex: 1;
            padding-left: 32px;
        }

        .PageControl .Buttons[b-2ufusqrfot] {
            display: flex;
        }

        .PageControl .Buttons::deep button[b-2ufusqrfot] {
            background: red;
            width: 28px;
        }

        .TabCloseButton[b-2ufusqrfot] {
            border: none;
            background: inherit;
            stroke: var(--content, white);
            padding: 8px;
        }

            .TabCloseButton:hover[b-2ufusqrfot] {
                background: var(--surface, gray);
            }

        .flex-container[b-2ufusqrfot] {
            display: flex;
            height: 100%;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
        }

            .flex-container:hover[b-2ufusqrfot] {
                color: rgb(37, 36, 35);
                outline: transparent dashed 2px;
                border-color: transparent;
                font-weight: 600;
            }

        .text-container[b-2ufusqrfot] {
            flex-grow: 1;
        }

            .button-label[b-2ufusqrfot] {
                margin: 0px 4px;
                line-height: 100%;
                display: block;
            }

                .button-label:hover[b-2ufusqrfot] {
                    color: rgb(37, 36, 35);
                    outline: transparent dashed 2px;
                    border-color: transparent;
                    font-weight: 600;
                }
/* _content/Bergsoft.Blazor.Tabs/PageTab.razor.rz.scp.css */
.PageTab[b-vyrn4bjgnp] {
    font-size: var(--fontSize, 12px);
    font-weight: 400;
    background: inherit;
    box-sizing: border-box;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--content);
    user-select: none;
}

    .PageTab:hover[b-vyrn4bjgnp] {
        outline: transparent dashed 2px;
        border-color: transparent;
        font-weight: 600;
    }

    .PageTab.tabsLocationTop[b-vyrn4bjgnp] {
        padding: 0px 10px;
        border-bottom: 1px solid transparent;
    }

    .PageTab.tabsLocationLeft[b-vyrn4bjgnp] {
        border-right: 1px solid transparent;
        justify-content: flex-start;
    }

    .PageTab.tabsLocationLeft:hover[b-vyrn4bjgnp] {
        backgroud: var(--surface, lightgray);
        border-radius: 4px;
    }

    .PageTab.tabsLocationLeft.isActive[b-vyrn4bjgnp] {
        border-right: 2px solid var(--focusBorder);
    }

    .PageTab.tabsLocationTop.isActive[b-vyrn4bjgnp] {
        border-bottom: 2px solid var(--focusBorder);
    }
/* _content/Bergsoft.Blazor.Tabs/TabsBar.razor.rz.scp.css */
.TabsBarBase[b-kagsufpkye] {
    display: inline-flex;
    position: relative;
}

    .TabsBarBase .Selection[b-kagsufpkye] {
        background: var(--active, black);
        position: absolute;
        z-index: 1000;
        height: 34px;
        transition: all ease-out 0.15s;
    }

.TabsBar[b-kagsufpkye] {
    background: var(--surface);
    font-size: var(--fontSize);
    padding: 2px;
}

    .TabsBar.roundCorners[b-kagsufpkye] {
        border-radius: 7px;
    }

        .TabsBar.roundCorners .Selection[b-kagsufpkye] {
            border-radius: 8px;
        }

    .TabsBar.pill[b-kagsufpkye] {
        border-radius: 100vh;
    }

        .TabsBar.pill .Selection[b-kagsufpkye] {
            border-radius: 100vh;
        }

    .TabsBar:focus[b-kagsufpkye],
    .TabsBar:focus-within[b-kagsufpkye] {
        outline-offset: 1px;
        outline: 2px solid var(--focusBorder, lightsteelblue);
    }

    .TabsBar button[b-kagsufpkye] {
        align-items: center;
        background: none;
        border: 0;
        color: var(--content, black);
        cursor: pointer;
        display: flex;
        fill: var(--content, black);
        font-size: var(--fontSizeS);
        justify-content: center;
        min-height: 34px;
        outline: none;
        user-select: none;
        z-index: 1001;
        transition: all ease-out 0.15s;
    }
    
    .TabsBar button:focus[b-kagsufpkye] {
        outline: none;
    }

        .TabsBar button.selected[b-kagsufpkye] {
            color: var(--activeText, white);
            fill: var(--activeText, white);
        }
