/* _content/BergSoft.UI.Blazor/Components/Button.razor.rz.scp.css */
.Button[b-ce0ui9l70q] {
    --fallback-themePrimary: #0f6cbd;
    --fallback-themeDark: #0f548c;
    --fallback-themeDarker: #0c3b5e;
    --fallback-neutralLight: #F0F0F0;
    --fallback-neutralLighter: #f5f5f5;
    --fallback-neutralQuaternaryAlt: #ebebeb;
}

.Button[b-ce0ui9l70q] {
    align-items: center;
    background: inherit;
    border: 1px solid #d1d1d1;
    border-radius: var(--borderRadius, 4px);
    cursor: pointer;
    color: black;
    display: inline-flex;
    font-weight: 600;
    font-size: var(--buttonFontSize, 14px);
    height: 32px;
    padding: 0 12px;
}

    .Button:disabled[b-ce0ui9l70q] {
        background: var(--neutralLighter, --fallback-neutralLighter);
        color: graytext;
        cursor: default;
    }

    .Button:hover:not(:disabled)[b-ce0ui9l70q] {
        background: var(--neutralLight, --fallback-neutralLight);
    }

    .Button:active:hover:not(:disabled)[b-ce0ui9l70q] {
        background: var(--neutralQuaternaryAlt, --fallback-neutralQuaternaryAlt);
    }

    .Button.IsChecked[b-ce0ui9l70q] {
        border: 1px solid rgb(97, 97, 97);
    }

        .Button.checked:hover[b-ce0ui9l70q] {
        }

    .Button.Rounded[b-ce0ui9l70q] {
        align-items: center;
        border: 0;
        flex-direction: column;
        justify-content: center;
        border-radius: 50%;
        height: var(--buttonRoundSize);
        width: var(--buttonRoundSize);
    }

    .Button.Primary[b-ce0ui9l70q] {
        background-color: var(--themePrimary, --fallback-themePrimary);
        border: 0;
        color: var(--primaryText, #fff);
    }

        .Button.Primary:hover[b-ce0ui9l70q] {
            background-color: var(--themeDark, --fallback-themeDark);
        }

        .Button.Primary:active:is(:hover)[b-ce0ui9l70q] {
            background-color: var(--themeDarker, --fallback-themeDarker);
        }
/* _content/BergSoft.UI.Blazor/Components/Callout.razor.rz.scp.css */
.CalloutBase[b-tkbxn2ysad] {
    --beakSize: 18px;
    --offsetX: 0;
    --offsetY: 9px;
    position: absolute;
    z-index: 1004;
}

.CalloutBase.AnchorLocationLeft[b-tkbxn2ysad] {
    top: -9px;
    left: 100%;
}

    .CalloutBase.AnchorLocationTop[b-tkbxn2ysad] {
        top: 100%;
        left: 0;
        transform: translate(0, 9px);
    }

.Callout[b-tkbxn2ysad] {
    background: #FFF;
    border-radius: 2px;
    min-width: 100px;
    min-height: 100px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px 0px;
}

.CalloutContent[b-tkbxn2ysad] {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #FFF;
    padding: 16px
}

.Beak[b-tkbxn2ysad] {
    background: #FFF;
    position: absolute;
    width: var(--beakSize, 18px);
    height: var(--beakSize, 18px);
    box-shadow: inherit;
    transform: rotate(45deg);
}

    .Beak.AnchorLocationTop[b-tkbxn2ysad] {
        left: 20px;
        top: -9px;
    }

    .Beak.AnchorLocationLeft[b-tkbxn2ysad] {
        transform: translateX(-9px) translateY(18px) rotate(45deg);
    }
/* _content/BergSoft.UI.Blazor/Components/CheckBox.razor.rz.scp.css */
.CheckBox[b-4bm9qzg942] {
    background: yellow;
}

.CheckBox input[type="checkbox"][b-4bm9qzg942] {
    display: none;
}

    /* Style the custom checkbox */
    .CheckBox .checkmark[b-4bm9qzg942] {
        cursor: pointer;
        position: relative;
        display: block;
        width: 16px;
        height: 16px;
        background-color: white;
        border: 1px solid var(--neutralSecondary);
        border-radius: 2px;
    }

    .CheckBox:hover .checkmark[b-4bm9qzg942] {
        border: 1px solid black;
    }

        .CheckBox:hover .checkmark[b-4bm9qzg942]::after {
            display: block;
        }

    .CheckBox:hover input[type="checkbox"]:checked + .checkmark[b-4bm9qzg942] {
        background: var(--checkboxBackgroundCheckedHover);
        border-color: var(--checkboxBackgroundCheckedHover);
    }

    /* Define the checked state */
    .CheckBox input[type="checkbox"]:checked + .checkmark[b-4bm9qzg942] {
        background-color: var(--checkboxBackgroundChecked);
        border: 1px solid var(--neutralDark);
    }


/* Style the checkmark/indicator */
.CheckBox .checkmark[b-4bm9qzg942]:after {
    content: "";
    position: absolute;
    display: none;
    left: 5px;
    top: 1px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
}

/* Show the checkmark when the checkbox is checked */
.CheckBox input[type="checkbox"]:checked + .checkmark[b-4bm9qzg942]:after {
    display: block;
}
/* _content/BergSoft.UI.Blazor/Components/CollapseButton.razor.rz.scp.css */
.CollapseButton[b-59g2hsvakx] {
    align-items: center;
    background: inherit;
    border: 0;
    cursor: pointer;
    display: flex;
    padding: 0 8px;
    height: var(--buttonRoundSize);
}

    .CollapseButton svg[b-59g2hsvakx] {
        transform: rotate(0deg);
        transition-duration: 0.2s;
        transition-property: transform;
    }

    .CollapseButton.collapsed svg[b-59g2hsvakx] {
         transform: rotate(180deg);
    }

    .CollapseButton[aria-expanded="true"] span[b-59g2hsvakx] {
    }

/*        .CollapseButton[aria-expanded="true"] svg {
            transform: rotate(180deg);
        }

    .CollapseButton[aria-expanded="false"] svg {
        transform: rotate(0deg);
    }*/
/* _content/BergSoft.UI.Blazor/Components/Dialog/Dialog.razor.rz.scp.css */
.DialogBase[b-s0uk22s0hf] {

}

.DialogBase.Compact[b-s0uk22s0hf] {
    width: 320px;
    height: 80px;
}

    .DialogBase.Medium[b-s0uk22s0hf] {
        width: 400px;
        height: 160px;
    }

    .DialogBase.Standard[b-s0uk22s0hf] {
        width: 480px;
        height: 320px;
    }

.Dialog[b-s0uk22s0hf] {
    background: var(--neutralLighter);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    position: absolute;
    box-shadow: rgb(0 0 0 / 22%) 0px 25.6px 57.6px 0px, rgb(0 0 0 / 18%) 0px 4.8px 14.4px 0px;
    max-height: calc(100% - 40px);
    max-width: calc(100% - 40px);
}

    .Dialog header[b-s0uk22s0hf] {
        border-radius: 4px 4px 0 0;
        color: rgb(60, 60, 60);
        display: flex;
        font-size: 16px;
        font-weight: 600;
        height: 44px;
        padding: 0 20px;
        align-items: center;
        justify-content: space-between;
        user-select: none;
    }

    .Dialog header button[b-s0uk22s0hf] {
        padding: 8px;
    }

.DialogTitleBarBase[b-s0uk22s0hf] {
    flex: 1;
    height: 100%;
}

    .DialogTitleBarBase.Moving[b-s0uk22s0hf] {
        cursor: move;
    }

.DialogTitleBar[b-s0uk22s0hf] {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .Dialog footer[b-s0uk22s0hf] {
        display: flex;
        margin-top: auto;
        gap: 10px;
        height: 44px;
        padding: 0 20px;
        justify-content: flex-end;
        user-select: none;
    }

    .Dialog .content[b-s0uk22s0hf] {
        padding: 20px;
    }

    .Dialog .CloseButton[b-s0uk22s0hf] {
        margin-left: auto;
        background: inherit;
        border: 0;
        outline: none;
    }

.DialogBehind[b-s0uk22s0hf] {
    background: var(--blackTranslucent40);
    display: flex;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 200;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.open[b-s0uk22s0hf] {
    display: flex;
}

.closed[b-s0uk22s0hf] {
    display: none;
}
/* _content/BergSoft.UI.Blazor/Components/GridControl/GridCellsLayout.razor.rz.scp.css */
/* _content/BergSoft.UI.Blazor/Components/GridControl/InplaceEdit.razor.rz.scp.css */
.InplaceEdit[b-rmh9brbyn9] {
    border: 0;
    font: inherit;
    width: 100%;
    height: 100%;
    outline: none;
}
/* _content/BergSoft.UI.Blazor/Components/GridControl/InplaceInput.razor.rz.scp.css */
.InplaceInput[b-qovchzg0la] {
    background: inherit;
    border: 0;
    font: inherit;
    width: 100%;
    outline: none;
}
/* _content/BergSoft.UI.Blazor/Components/HeaderPanel/Header.razor.rz.scp.css */
.Header[b-4ef7vknsr0] {
    display: flex;
    align-items: center;
    height: 40px;
}

    .Header div[b-4ef7vknsr0] {
        flex-grow: 1;
    }
/* _content/BergSoft.UI.Blazor/Components/IconPanel.razor.rz.scp.css */
.IconPanel[b-lz6nrlcehs] {
    display: flex;
    gap: 8px;
}

.IconPanel aside[b-lz6nrlcehs] {
    padding-top: 4px;
}

.IconPanel h2[b-lz6nrlcehs] {
    margin: 0 0 4px 0;
}
/* _content/BergSoft.UI.Blazor/Components/ListBox.razor.rz.scp.css */
.ListBox[b-u75a893qc0] {
    --fallback-themeSecondarySurfaceSelected: #cfe4fa;
    --fallback-neutralDark: #242424;
    --fallback-neutralQuaternaryAlt: #ebebeb;
    --fallback-borderRadiusMedium: 4px;
}

.ListBox[b-u75a893qc0] {
    overflow-y: auto;
}

.ListBox:focus[b-u75a893qc0] {
    outline: none;
}

.Item[b-u75a893qc0] {
    border-radius: var(--borderRadiusMedium, --fallback-borderRadiusMedium);
    cursor: pointer;
    color: var(--neutralDark, --fallback-neutralDark);
    display: flex;
    align-items: center;
    height: 28px;
    padding: 0 8px;
    user-select: none;
}

    .Item:hover[b-u75a893qc0] {
        background-color: var(--neutralQuaternaryAlt, --fallback-neutralQuaternaryAlt);
    }

    .Item.Selected[b-u75a893qc0] {
        background-color: var(--neutralQuaternaryAlt, --fallback-neutralQuaternaryAlt);
    }

.ListBox:focus .Item.Selected[b-u75a893qc0] {
    background-color: var(--themeSecondarySurfaceSelected, --fallback-themeSecondarySurfaceSelected);
    outline: none;
}
/* _content/BergSoft.UI.Blazor/Components/NavigationView/NavigationGroupHeader.razor.rz.scp.css */
.NavigationGroupHeader[b-bov9zue3yt] {
    cursor: pointer;
    color: inherit;
    height: 48px;
    display: flex;
    align-items: center;
    transition: color 80ms cubic-bezier(.165, .84, .44,1), background 80ms linear;
    user-select: none;
}

    .NavigationGroupHeader.expanded[b-bov9zue3yt] {
        background: var(--nav-vertical-active-group-background);
    }

    .NavigationGroupHeader[b-bov9zue3yt]  > span {
        display: flex;
        align-items: center;
        font-weight: bold;
    }

    .NavigationGroupHeader[b-bov9zue3yt]  .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 47px;
    }

    .NavigationGroupHeader:hover[b-bov9zue3yt] {
        background: rgba(0, 0, 0, 0.06);
    }

    .NavigationGroupHeader img[b-bov9zue3yt] {
        height: 24px;
        width: 24px;
        margin: 8px;
    }
/* _content/BergSoft.UI.Blazor/Components/NavigationView/NavigationView.razor.rz.scp.css */
    .NavigationView[b-erfsr00sg2] {
        background: var(--nav-vertical-background-color);
        display: flex;
        flex-direction: column;
    }

        .NavigationView:last-child[b-erfsr00sg2] {
            margin-top: auto;
            border: 0;
        }

    .NavigationGroup[b-erfsr00sg2] {
        position: relative;
    }

    .NavigationGroup.expanded[b-erfsr00sg2] {
        background: var(--nav-vertical-active-group-background);
    }

    .NavigationGroup.expanded[b-erfsr00sg2]::before {
        bottom: 0;
        background-color: rgba(0,0,0,.2);
        background-color: var(--palette-black-alpha-20,rgba(0, 0, 0, .2));
        content: "";
        left: 0;
        position: absolute;
        top: 0;
        width: 3px;
    }

    .NavigationView a[b-erfsr00sg2] {
        align-items: center;
        display: flex;
        height: 40px;
        position: relative;
    }

��� .NavigationView a span[b-erfsr00sg2] {
        background: yellow;
        width: 47px;
    }

���� .NavigationView a.expanded[b-erfsr00sg2] {
    }

    .NavigationView a.expanded[b-erfsr00sg2]::before {
        background-color: rgba(0, 120, 212, 1);
        background-color: var(--communication-background,rgba(0, 120, 212, 1));
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        top: 0;
        width: 3px;
    }

    .NavigationView .Toggle[b-erfsr00sg2] {
        border: 0;
        cursor: pointer;
    }
/* _content/BergSoft.UI.Blazor/Components/NextGrid/GridCell.razor.rz.scp.css */
.GridCell[b-2qzmwtczp0] {
    --fallback-neutralLighter: #f5f5f5;
    --fallback-themeSecondarySurfaceSelected: #cfe4fa;
    --fallback-colorNeutralBackground1Pressed: #e0e0e0;
    --fallback-themePrimary: #0f6cbd;
}

.GridCell[b-2qzmwtczp0] {
    align-items: center;
    cursor: default;
    padding: 0 6px;
}

    .GridCell:hover:not(.IsSelected)[b-2qzmwtczp0] {
        cursor: var(--selectionCursorHover, default);
        background: var(--neutralLighter, --fallback-neutralLighter);
    }

    .GridCell.IsEditing[b-2qzmwtczp0] {
        background: #fff;
        padding: 0;
        outline: 1px solid var(--themePrimary, --fallback-themePrimary);
    }

    .GridCell.IsSelected:not(.IsEditing)[b-2qzmwtczp0] {
        background: var(--neutralLighter, --fallback-neutralLighter);
    }

    .GridCell.IsSelected[b-2qzmwtczp0] {
        border-radius: 0;
    }

    .GridCell.IsFocused:not(.IsEditing)[b-2qzmwtczp0] {
        background-color: var(--themeSecondarySurfaceSelected, --fallback-themeSecondarySurfaceSelected);
        outline: none;
    }

    .GridCell:not(:first-child).GridLinesBoth[b-2qzmwtczp0] {
        border-left: 1px solid var(--colorNeutralBackground1Pressed, --fallback-colorNeutralBackground1Pressed);
    }

    .GridCell.HorizontalAlignmentLeft[b-2qzmwtczp0] {
        text-align: left;
    }

    .GridCell.HorizontalAlignmentCenter[b-2qzmwtczp0] {
        text-align: center;
    }

    .GridCell.HorizontalAlignmentRight[b-2qzmwtczp0] {
        text-align: right;
    }
/* _content/BergSoft.UI.Blazor/Components/NextGrid/GridFooter.razor.rz.scp.css */
.BaseGridFooter[b-uhzhfr8z8j] {
    padding: 6px 4px;
}
/* _content/BergSoft.UI.Blazor/Components/NextGrid/GridHeader.razor.rz.scp.css */
.GridHeader[b-rr7i3d088r] {
    --fallback-colorNeutralBackground1Pressed: #e0e0e0;
    --fallback-neutralTertiaryAlt: #e0e0e0;
    --fallback-neutralLighterAlt: #fafafa;
}

.GridHeader[b-rr7i3d088r] {
    align-items: center;
    cursor: pointer;
    font: inherit;
    font-weight: normal;
    height: 30px;
    user-select: none;
    border-bottom: 1px solid var(--fallback-neutralTertiaryAlt, --neutralTertiaryAlt);
}

    .GridHeader .Content[b-rr7i3d088r] {
        display: flex;
        padding: 6px;
        flex: 1;
        overflow: hidden;
        align-items: center;
        margin-right: -6px;
    }

    .GridHeader .HeaderText[b-rr7i3d088r] {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .GridHeader > div[b-rr7i3d088r] {
        display: flex;
        position: relative;
        height: 100%;
    }

    .GridHeader:not(:first-child) .Content[b-rr7i3d088r] {
        margin-left: 6px;
    }

    .GridHeader .Content:hover[b-rr7i3d088r] {
        background: var(--neutralLighterAlt, --fallback-neutralLighterAlt);
    }

        .GridHeader .Content:hover:active[b-rr7i3d088r] {
            background: var(--colorNeutralBackground1Pressed, --fallback-colorNeutralBackground1Pressed);
        }

    .GridHeader svg[b-rr7i3d088r] {
        margin-left: 5px;
    }

        .GridHeader svg path[b-rr7i3d088r] {
            fill: var(--black, #000000);
        }

    .GridHeader.sortDirectionDescending svg[b-rr7i3d088r] {
        transform: rotate(180deg);
    }
/* _content/BergSoft.UI.Blazor/Components/NextGrid/GridHeaders.razor.rz.scp.css */
.GridHeaders[b-vqar7efb0n] {
    background: white;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
/* _content/BergSoft.UI.Blazor/Components/NextGrid/GridLayout/DetailsGridLayout.razor.rz.scp.css */
.GridRow[b-z1phg7br10] {
    height: 28px;
}

.GridLinesBoth[b-z1phg7br10], GridLinesHorizontalOnly[b-z1phg7br10] {
    border-bottom: 1px solid var(--neutralTertiaryAlt);
}
/* _content/BergSoft.UI.Blazor/Components/NextGrid/GridLayout/StacksGridLayout.razor.rz.scp.css */
.StacksGridLayout[b-hhen1y2vqi] {
    --fallback-neutralLighter: #f5f5f5;
    --fallback-themeSecondarySurfaceSelected: #cfe4fa;
    --fallback-spacingHorizontalS: 8px;
    --fallback-spacingVerticalS: 8px;
}

.StacksGridLayout[b-hhen1y2vqi] {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacingHorizontalS, --fallback-spacingHorizontalS);
}

.CellsStack[b-hhen1y2vqi] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    padding: var(--spacingHorizontalS, --fallback-spacingHorizontalS) var(--spacingVerticalS, --fallback-spacingVerticalS);
}

    .CellsStack.Selected[b-hhen1y2vqi] {
        background: var(--neutralLighter, --fallback-neutralLighter);
    }

    .CellsStack.Focused[b-hhen1y2vqi] {
        background-color: var(--themeSecondarySurfaceSelected, --fallback-themeSecondarySurfaceSelected);
        outline: none;
    }
/* _content/BergSoft.UI.Blazor/Components/NextGrid/HeaderDivider.razor.rz.scp.css */
.HeaderDivider[b-yk3gzlz3l0] {
    --fallback-neutralTertiaryAlt: #e0e0e0;
}

.HeaderDivider[b-yk3gzlz3l0] {
    cursor: col-resize;
    width: 13px;
    position: relative;
    left: 6px;
    padding: 6px;
    z-index: 99;
}

    .HeaderDivider hr[b-yk3gzlz3l0] {
        border: 0;
    }

    .HeaderDivider hr[b-yk3gzlz3l0] {
        background: var(--neutralTertiaryAlt, --fallback-neutralTertiaryAlt);
        margin: 0;
        padding: 0;
        height: 100%;
    }
/* _content/BergSoft.UI.Blazor/Components/NextGrid/NextGrid.razor.rz.scp.css */
.NextGrid[b-qhew7i48fs] {
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    user-select: none;
    outline: none;
    -webkit-user-select: none;
    overflow: auto;
}

.GridFooters[b-qhew7i48fs] {
    border-top: 1px solid var(--neutralTertiaryAlt);
}

.GroupHeader[b-qhew7i48fs] {
    text-align: left;
    font-weight: 600;
    padding: 0 0 0 6px;
    background: #F5F5F5;
    height: 32px;
    border-bottom: 1px solid #E0E0E0;
}
/* _content/BergSoft.UI.Blazor/Components/PageControl/PageControl.razor.rz.scp.css */
.PageControl[b-a9o19hu2lb] {
    --fallback-neutralLight: #f0f0f0;
}

.PageControl[b-a9o19hu2lb] {
    display: flex;
}

    .PageControl .Tabs[b-a9o19hu2lb] {
        display: flex;
        background: var(--neutralLight, --fallback-neutralLight);
        width: 100%;
    }

    .PageControl.tabsLocationLeft .Tabs[b-a9o19hu2lb] {
        flex-direction: column;
        padding: 4px;
        width: 48px;
    }

    .PageControl.tabsLocationTop[b-a9o19hu2lb] {
        flex-direction: column;
    }

    .PageControl.tabsLocationLeft[b-a9o19hu2lb] {
        flex-direction: row;
    }

        .PageControl .SideContent[b-a9o19hu2lb] {
            display: flex;
            flex: 1;
            padding-left: 32px;
        }

        .PageControl .Buttons[b-a9o19hu2lb] {
            display: flex;
        }

        .PageControl .Buttons::deep button[b-a9o19hu2lb] {
            background: red;
            width: 28px;
        }

        .TabCloseButton[b-a9o19hu2lb] {
            border: none;
            background: inherit;
            padding: 8px;
        }

            .TabCloseButton:hover[b-a9o19hu2lb] {
                background: var(--neutralLight, --fallback-neutralLight);
            }

        .flex-container[b-a9o19hu2lb] {
            display: flex;
            height: 100%;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
        }

            .flex-container:hover[b-a9o19hu2lb] {
                color: rgb(37, 36, 35);
                outline: transparent dashed 2px;
                border-color: transparent;
                font-weight: 600;
            }

        .text-container[b-a9o19hu2lb] {
            flex-grow: 1;
        }

            .button-label[b-a9o19hu2lb] {
                margin: 0px 4px;
                line-height: 100%;
                display: block;
            }

                .button-label:hover[b-a9o19hu2lb] {
                    color: rgb(37, 36, 35);
                    outline: transparent dashed 2px;
                    border-color: transparent;
                    font-weight: 600;
                }
/* _content/BergSoft.UI.Blazor/Components/PageControl/PageTab.razor.rz.scp.css */
.PageTab[b-6ra703wnpa] {
    font-size: 14px;
    font-weight: 400;
    background: inherit;
    box-sizing: border-box;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(37, 36, 35);
    user-select: none;
}

    .PageTab:hover[b-6ra703wnpa] {
        color: rgb(37, 36, 35);
        outline: transparent dashed 2px;
        border-color: transparent;
        font-weight: 600;
    }

    .PageTab.tabsLocationTop[b-6ra703wnpa] {
        padding: 0px 10px;
    }

    .PageTab.tabsLocationLeft:hover[b-6ra703wnpa] {
        background: #FFF;
        border-radius: 4px;
    }

    .PageTab.tabsLocationLeft.isActive[b-6ra703wnpa] {
    }
/* _content/BergSoft.UI.Blazor/Components/Panel.razor.rz.scp.css */
.Panel[b-yc14y8jhkt] {

}
/* _content/BergSoft.UI.Blazor/Components/PathControl/PathControl.razor.rz.scp.css */
.PathControl[b-mknvlo2byo] {
    display: flex;
    gap: 8px;
}

    .PathControl button[b-mknvlo2byo] {
        border: 0;
        background: inherit;
    }

        .PathControl button:hover[b-mknvlo2byo] {
            background: var(--toolButton, silver);
        }

.DropDownItem[b-mknvlo2byo] {
    cursor: pointer;
    padding: 4px;
}

    .DropDownItem:hover[b-mknvlo2byo] {
        background: var(--toolButton, silver);
    }
/* _content/BergSoft.UI.Blazor/Components/PivotGrid/PivotGrid.razor.rz.scp.css */
.PivotGrid[b-djvcd04jvc] {
    user-select: none;
}

.Row[b-djvcd04jvc] {
    display: flex;
    flex-direction: row;
    min-height: 40px;
    padding: 0 40px;
}
/*    .Row:hover {
        background: var(--neutralLight);
    }
*/
    .Row.Selected[b-djvcd04jvc] {
        background: var(--themeLight);
    }

.HeaderCell[b-djvcd04jvc] {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 200px;
    gap: 8px;
}

.Cell[b-djvcd04jvc] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 128px;
    padding: 0 4px;
}

.Cell[b-djvcd04jvc] {
}

/* _content/BergSoft.UI.Blazor/Components/Planner/MonthDays.razor.rz.scp.css */
.MonthDays[b-1tin8ywk3c] {
}

    .MonthDays .week[b-1tin8ywk3c] {
        display: flex;
    }
/* _content/BergSoft.UI.Blazor/Components/Planner/Planner.razor.rz.scp.css */
.Planner[b-5fwo27fa0j] {
    box-shadow: rgb(0 0 0 / 14%) 0px 1px 2px 0px, rgb(0 0 0 / 12%) 0px 0px 2px 0px;
}

    .Planner > header[b-5fwo27fa0j] {
        display: flex;
        align-items: center;
    }

    .Planner > header button[b-5fwo27fa0j] {
        border: 0;
        background: inherit;
    }

    .Planner > header button:hover[b-5fwo27fa0j] { background: var(--buttonHover, lightgray); }
    .Planner > header button:active[b-5fwo27fa0j] { background: var(--toolButtonActive, gray); }
/* _content/BergSoft.UI.Blazor/Components/Planner/PlannerDay.razor.rz.scp.css */
.PlannerDay[b-drmn0px4bm] {
    flex-direction: column;
    display: flex;
    cursor: pointer;
    padding: 2px;
    height: 108px;
    flex: 1;
    border-bottom: 1px solid;
    border-bottom-color: var(--neutralTertiaryAlt);
}

    .PlannerDay .Day[b-drmn0px4bm] {
        padding-left: 12px;
    }

    .PlannerDay div[b-drmn0px4bm] {
    }

    .PlannerDay.today[b-drmn0px4bm]::before {
        background-color: var(--themePrimary);
        content: "";
        height: 4px;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

.ikN5J[b-drmn0px4bm] {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-color: var(--neutralPrimarySurface);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    height: 100%;
    padding: 2px;
}

.PlannerDay.inactive[b-drmn0px4bm] {
    color: gray;
}

.PlannerDay.active[b-drmn0px4bm] {
    background-color: var(--neutralSecondarySurface);
}

.PlannerDay.selected[b-drmn0px4bm] {
    background-color: var(--themeLighter);
}
/* _content/BergSoft.UI.Blazor/Components/Planner/WeekDays.razor.rz.scp.css */
.WeekDays[b-y9h25iaqdk] {
    grid-area: WeekDays;
    display: flex;
}

    .WeekDays div[b-y9h25iaqdk] {
        align-items: flex-end;
        display: flex;
        margin: 0 0 9px 0;
        padding: 0 0 0 12px;
        height: 39px;
        flex: 1;
    }

        .WeekDays div span[b-y9h25iaqdk] {
            font-size: 12px;
        }
/* _content/BergSoft.UI.Blazor/Components/Popover.razor.rz.scp.css */
.PopoverBase[b-gze0vtkise] {
    z-index: 30000;
    background: var(--neutralLighter);
    border-radius: 4px;
    display: flex;
    position: absolute;
}
/* _content/BergSoft.UI.Blazor/Components/PopupMenu/PopupMenu.razor.rz.scp.css */
.PopupMenu[b-oygzgu9c83] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 180px;
}
/* _content/BergSoft.UI.Blazor/Components/PopupMenu/PopupMenuGroup.razor.rz.scp.css */
.PopupMenuGroup[b-uguiotaqfa] {
    display: flex;
    flex-direction: column;
}

.Title[b-uguiotaqfa] {
    text-align: left;
    padding: 6px;
    font-weight: 500;
    margin: 8px 8px 1px 8px;
}
/* _content/BergSoft.UI.Blazor/Components/PopupMenu/PopupMenuOption.razor.rz.scp.css */
.PopupMenuOption[b-0q7qz8q625] {
    align-items: center;
    border: 0;
    background: inherit;
    cursor: pointer;
    display: flex;
    gap: 8px;
    padding: 0 8px;
    height: 36px;
}

    .PopupMenuOption:hover[b-0q7qz8q625] {
        background: #F5F5F5;
    }

    .PopupMenuOption:active:not(:disabled)[b-0q7qz8q625] {
        background: #E0E0E0;
    }

    .PopupMenuOption:disabled[b-0q7qz8q625] {
        color: silver;
    }
/* _content/BergSoft.UI.Blazor/Components/ProgressBar.razor.rz.scp.css */
.ProgressBar[b-m5bh4xte6a] {
    --fallback-themePrimary: #0f6cbd;
    --fallback-borderRadiusMedium: 4px;
    --fallback-neutralDark: #242424;
}

    .ProgressBar.BorderStyleSingle[b-m5bh4xte6a],
    .ProgressBar.BorderStyleRoundCorners[b-m5bh4xte6a],
    .ProgressBar.BorderStylePill[b-m5bh4xte6a] {
        border: 1px solid var(--neutralDark, --fallback-neutralDark);
    }

    .ProgressBar.BorderStyleRoundCorners[b-m5bh4xte6a] {
        border-radius: var(--borderRadiusMedium, --fallback-borderRadiusMedium);
    }

    .ProgressBar.BorderStylePill[b-m5bh4xte6a] {
        border-radius: 100vh;
    }

    .ProgressBar .Bar[b-m5bh4xte6a] {
        background: var(--themePrimary, --fallback-themePrimary);
        height: 100%;
    }

    .ProgressBar .BarStyleRectanle[b-m5bh4xte6a] {
        border-radius: 0;
    }

    .ProgressBar .BarStylePill[b-m5bh4xte6a] {
        border-radius: 100vh;
    }
/* _content/BergSoft.UI.Blazor/Components/RadioButton.razor.rz.scp.css */
.RadioButton[b-jg0lexvjy2] {
    --themePrimary: #0078d4;
    --themeDark: #005A9E;
    --neutralSecondary: #605e5c;
    --neutralPrimary: black;
    --white: white;

    cursor: pointer;
    font: normal 400 14px "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, "system-ui", Roboto, "Helvetica Neue", sans-serif;
    position: relative;
}

    .RadioButton input[b-jg0lexvjy2] {
        position: absolute;
        opacity: 0;
        top: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
        margin: 0px;
    }

    .RadioButton label[b-jg0lexvjy2]::before {
        content: "";
        display: inline-block;
        background-color: var(--white);
        border-width: 1px;
        border-style: solid;
        border-color: var(--neutralPrimary);
        width: 20px;
        height: 20px;
        font-weight: normal;
        position: absolute;
        top: 0px;
        left: 0px;
        box-sizing: border-box;
        transition-property: border-color;
        transition-duration: 200ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.23, 1);
        border-radius: 50%;
    }

    .RadioButton label:hover[b-jg0lexvjy2]::before {
        border-color: var(--neutralPrimary);
    }

    .RadioButton label:hover[b-jg0lexvjy2]::after {
        content: "";
        transition-property: background-color;
        left: 5px;
        top: 5px;
        width: 10px;
        height: 10px;
        background-color: var(--neutralSecondary);
    }

    .RadioButton input:checked ~ label[b-jg0lexvjy2]::before {
        border-color: var(--themePrimary);
    }

    .RadioButton input:checked ~ label[b-jg0lexvjy2]::after {
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        position: absolute;
        left: 5px;
        right: 0px;
        transition-property: border-width;
        transition-duration: 200ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.23, 1);
        box-sizing: border-box;
        border-width: 5px;
        border-style: solid;
        border-color: var(--themePrimary);
        background: var(--themePrimary);
        top: 5px;
    }

.RadioButton span[b-jg0lexvjy2] {
    display: inline-block;
    padding-left: 26px;
}
/* _content/BergSoft.UI.Blazor/Components/SlidePanel/SlidePanel.razor.rz.scp.css */
.SlidePanel[b-x30eozdo6s] {
    --fallback-neutralLight: #f0f0f0;
    --headerHeight: 40px;
    --headerFontSize: 14px;
}

.SlidePanelHeader[b-x30eozdo6s] {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: var(--headerHeight, 40px);
    user-select: none;
    -webkit-user-select: none;
}

    .SlidePanelHeader.HeaderHotTrack:hover[b-x30eozdo6s] {
        background: var(--neutralLight, --fallback-neutralLight);
    }

.SlidePanelHeader > h3[b-x30eozdo6s] {
    margin: 0 8px;
    font-size: var(--headerFontSize, 14px);
    font-weight: 600;
}

    .SlidePanelHeader > button[b-x30eozdo6s] {
        background: none;
        border: 0;
        cursor: pointer;
        margin-left: var(--spacing, 4px)
    }

    .SlidePanelHeader > button svg[b-x30eozdo6s] {
        transform: rotate(0deg);
        transition-duration: 0.2s;
        transition-property: transform;
    }

    .SlidePanelHeader.IsExpanded > button svg[b-x30eozdo6s] {
        transform: rotate(90deg);
    }

.SlidePanelContent[b-x30eozdo6s] {
    --indentationFallback: 8px;
}

    .SlidePanelContent.LeftIndentation[b-x30eozdo6s] { padding-left: var(--spacing-l, --indentationFallback); }
    .SlidePanelContent.TopIndentation[b-x30eozdo6s] { padding-top: var(--spacing-l, --indentationFallback); }
/* _content/BergSoft.UI.Blazor/Components/Splitter/Splitter.razor.rz.scp.css */
.Splitter[b-k5gtfogyly] {
    cursor: ns-resize;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .Splitter:hover[b-k5gtfogyly] {
        background: var(--headerSplitterBorderColor, silver);
    }

.Splitter:not(.vertical) svg[b-k5gtfogyly] {
    height: 5px;
}

    .Splitter.vertical[b-k5gtfogyly] {
        cursor: ew-resize;
    }

    .Splitter.vertical svg[b-k5gtfogyly] {
        min-width: 20px;
        min-height: 5px;
        transform: rotate(90deg);
    }

.Splitter:hover[b-k5gtfogyly] {  }

    .Splitter:hover svg path[b-k5gtfogyly] {
        transition: all, ease-in-out, 0.5s;
    }

.Splitter svg path[b-k5gtfogyly] { fill: #b5b5b5; }

    .Splitter:hover svg[b-k5gtfogyly] { }

    .Splitter:hover svg path[b-k5gtfogyly] {
        fill: #444;
    }

    .Splitter.dragging:hover[b-k5gtfogyly] {
        background: yellow;
    }
/* _content/BergSoft.UI.Blazor/Components/TabsControl/TabsControl.razor.rz.scp.css */
.TabsControl[b-jyry9g0w8i] {
    background: var(--tabsControlBackground);
    display: flex;
    flex-direction: column;
    gap: var(--tabsControlButtonsSpacing);
    height: 100%;
    width: var(--tabsControlWidth);
    padding: var(--tabsControlPadding);
}

    .TabsControl button[b-jyry9g0w8i] {
        background: var(--tabsControlButtonBackgroundColor);
        border: 0;
        cursor: pointer;
        height: 40px;
        width: 40px;
        user-select: none;
    }

    .TabsControl button:hover[b-jyry9g0w8i],
    .TabsControl button.selected[b-jyry9g0w8i] {
        background: var(--colorNeutralBackground4Selected);
        border-radius: var(--tabsControlButtonRadius);
    }
/* _content/BergSoft.UI.Blazor/Components/TagsBar.razor.rz.scp.css */
.TagsBar[b-v7grzz7xez] {
    --tagsSpacing: 1px;

    display: inline-flex;
    gap: var(--tagsSpacing);
    padding: 1px;
    user-select: none;
    -webkit-user-select: none;
}

    .TagsBar .BaseTag[b-v7grzz7xez] {
        cursor: default;
        text-decoration: none;
        display: flex;
        align-items: center;
    }

    .TagsBar .Tag[b-v7grzz7xez] {
        background: var(--buttonHover, silver);
        padding: 0 4px;
    }

        /** TagShape */
        .Tag.Rectangle[b-v7grzz7xez] { border-radius: 0; }
        .Tag.RoundCorners[b-v7grzz7xez] { border-radius: 2px; }
        .Tag.PillShape[b-v7grzz7xez] { 
            border-radius: 50vh;
            padding: 0 8px;
        }

        .Tag:hover[b-v7grzz7xez] { }

        .TagsBar .Tag.Selected[b-v7grzz7xez] {
            background: var(--themeLight, yellow);
        }
/* _content/BergSoft.UI.Blazor/Components/TextBox/ButtonTextBox.razor.rz.scp.css */
.ButtonTextBoxBase[b-e35m3td202] {
    display: inline-flex;
}

    .ButtonTextBoxBase.Inplace[b-e35m3td202] {
        border: 0;
        padding: 0 0 0 6px;
        font: inherit;
        width: 100%;
        height: 100%;
        min-height: inherit;
    }

.ButtonTextBox:not(.Inplace)[b-e35m3td202] {
    padding-left: 4px;
    border: 1px solid #D1D1D1;
    min-height: 26px;
}
/* _content/BergSoft.UI.Blazor/Components/TextBox/DatePicker.razor.rz.scp.css */
.DatePickerBase[b-gswrzn827i] {
    --fallback-neutralLight: #f0f0f0;
    --fallback-colorNeutralBackground1Pressed: #e0e0e0;
    --fallback-borderRadiusMedium: 4px;
    --fallback-themeSecondarySurfaceSelected: #cfe4fa;
    --fallback-themePrimary: #0f6cbd;
    --fallback-themeLight: #b4d6fa;
}

.DatePickerBase[b-gswrzn827i] {
    display: inline-flex;
    position: relative;
}

.DatePickerBase[b-gswrzn827i] {
    height: 32px;
}

    .DatePickerBase.Inplace[b-gswrzn827i] {
        border: 0;
        padding: 0 0 0 6px;
        font: inherit;
        width: 100%;
        height: 100%;
        min-height: inherit;
    }

.DatePicker[b-gswrzn827i] {
    border: 1px solid #808080;
    border-radius: 2px;
    padding-left: 8px;
}

    .DatePicker.Inplace[b-gswrzn827i] {
        border: 0;
    }

    .DatePicker:focus[b-gswrzn827i], .DatePicker:focus-within[b-gswrzn827i] {
        border-color: var(--primary, blue);
    }

        .DatePicker:focus[b-gswrzn827i]:after,
        .DatePicker:focus-visible[b-gswrzn827i]:after {
            border: 2px solid var(--primary, blue);
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            position: absolute;
        }

    .DatePicker > input[b-gswrzn827i] {
        border: 0;
        font: inherit;
        outline: 0;
        width: 100%;
    }

    .DatePicker > button[b-gswrzn827i] {
        border: 0;
        background: inherit;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28px;
    }

        .DatePicker > button:hover[b-gswrzn827i] {  }

        .Buttons[b-gswrzn827i] {
            display: flex;
            justify-content: center;
            margin-bottom: 12px;
        }

.DatePickerPanel[b-gswrzn827i] {
    padding: var(--spacing-xl, 12px);
}

/* _content/BergSoft.UI.Blazor/Components/TextBox/DateSelector.razor.rz.scp.css */
.DateSelector[b-4jcimh1qdn] {
    --fallback-neutralLight: #f0f0f0;
    --fallback-colorNeutralBackground1Pressed: #e0e0e0;
    --fallback-borderRadiusMedium: 4px;
    --fallback-themeSecondarySurfaceSelected: #cfe4fa;
    --fallback-themePrimary: #0f6cbd;
    --fallback-themeLight: #b4d6fa;
    --fallback-borderRadiusSmall: 2px;
    --daySize: 28px;
}

.DateSelector[b-4jcimh1qdn] {
    --daySize: 28px;
    display: inline-flex;
    flex-direction: column;
    user-select: none;
}

    .DateSelector header[b-4jcimh1qdn] {
        align-items: center;
        display: flex;
        height: var(--daySize, 28);
        margin-bottom: var(--spacing, 4px);
    }

        .DateSelector header h2[b-4jcimh1qdn] {
            margin: 0;
            padding: 0;
            font-size: 14px;
            font-weight: 600;
            padding-left: 10px;
            flex: 1;
        }

        .DateSelector header button[b-4jcimh1qdn] {
            background: inherit;
            border: 0;
            border-radius: 2px;
            cursor: pointer;
            height: var(--daySize, 28);
            width: var(--daySize, 28);
        }

            .DateSelector header button:hover[b-4jcimh1qdn] {
                background: var(--fallback-neutralLight, --neutralLight);
            }

            .DateSelector header button:active[b-4jcimh1qdn] {
                background: var(--colorNeutralBackground1Pressed, --fallback-colorNeutralBackground1Pressed);
            }


    .DateSelector .WeekDays[b-4jcimh1qdn] {
        display: flex;
    }

        .DateSelector .WeekDays > div[b-4jcimh1qdn] {
            text-align: center;
            line-height: var(--daySize, 28);
            height: var(--daySize, 28);
            width: var(--daySize, 28);
        }

    .DateSelector .Week[b-4jcimh1qdn] {
        display: flex;
    }

        .DateSelector .Week .Day[b-4jcimh1qdn] {
            border-radius: var(--borderRadiusSmall, --fallback-borderRadiusSmall);
            cursor: pointer;
            text-align: center;
            height: var(--daySize, 28);
            width: var(--daySize, 28);
            line-height: var(--daySize, 28);
        }

            .DateSelector .Week .Day:hover:not(:active)[b-4jcimh1qdn] {
                background: var(--neutralLight, --fallback-neutralLight);
            }

    .DateSelector .Day:hover:active[b-4jcimh1qdn] {
        background: var(--themeSecondarySurfaceSelected, --fallback-themeSecondarySurfaceSelected );
    }

    .DateSelector .Today[b-4jcimh1qdn] {
        background: var(--themePrimary, --fallback-themePrimary);
        color: #FFF;
        display: block;
        height: 100%;
        border-radius: 100%;
    }

.outsideMonth[b-4jcimh1qdn] {
    color: silver;
}

.selectedDay[b-4jcimh1qdn] {
    background: var(--themeLight, --fallback-themeLight);
}
/* _content/BergSoft.UI.Blazor/Components/TextBox/DropDownList.razor.rz.scp.css */
.DropDownButton[b-hmzupq7752] {
    --fallback-neutralLight: #f0f0f0;
    --fallback-colorNeutralBackground1Pressed: #e0e0e0;
    --fallback-borderRadiusMedium: 4px;
    --fallback-themeSecondarySurfaceSelected: #cfe4fa;
    --fallback-themeLight: #b4d6fa;
}

.DropDownButton[b-hmzupq7752] {
    display: inline-flex;
    position: relative;
    min-height: 21px;
    min-width: 21px;
    align-items: center;
    background: inherit;
    border: 0;
    border-radius: var(--borderRadiusMedium, --fallback-borderRadiusMedium);
    color: black;
    cursor: pointer;
    font: inherit;
    padding: 8px;
}

    .DropDownButton footer[b-hmzupq7752] {
        display: flex;
        border-top: 1px solid var(--buttonHover);
        padding: 4px;
    }

    .DropDownButton:hover[b-hmzupq7752] {
        background: var(--neutralLight, --fallback-neutralLight);
    }

    .DropDownButton.isOpen[b-hmzupq7752] {
        background: var(--themeLight, --fallback-themeLight);
    }

.DropDownList[b-hmzupq7752] {
    min-width: 200px;
    min-height: 100px;
    background: #fff;
    position: absolute;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.133) 0px 3.2px 7.2px 0px, rgba(0, 0, 0, 0.11) 0px 0.6px 1.8px 0px;
    z-index: 1000;
}

.Item[b-hmzupq7752] {
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    gap: 4px;
    min-height: 32px;
    padding: 0 8px;
}

    .Item:active[b-hmzupq7752] {
        background: var(--themeSecondarySurfaceSelected, --fallback-themeSecondarySurfaceSelected);
    }

    .Item:hover[b-hmzupq7752] {
        background: var(--neutralLight, --fallback-neutralLight);
    }

    .Item.Selected:not(:hover)[b-hmzupq7752] {
        background: var(--neutralLight, --fallback-neutralLight);
    }
/* _content/BergSoft.UI.Blazor/Components/TextBox/DropPanel.razor.rz.scp.css */
.DropPanel[b-4ia522vjn1] {
    background: var(--baseBackground, #fff);
    border-radius: var(--radius-s, 2px);
    box-shadow: rgba(0, 0, 0, 0.133) 0px 6.4px 14.4px 0px, rgba(0, 0, 0, 0.11) 0px 1.2px 3.6px 0px;
    position: absolute;
    z-index: 2000;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
    left: 0;
    top: 100%;
}

    .DropPanel.Transition[b-4ia522vjn1] {

    }

    .DropPanel.IsOpen[b-4ia522vjn1] { opacity: 1; }

    .DropPanel.AddPadding[b-4ia522vjn1] {
        padding: 5px;
    }
/* _content/BergSoft.UI.Blazor/Components/TextBox/InplaceControl.razor.rz.scp.css */
.InplaceControlBase[b-1bdkgwdq4u] {
    display: flex;
}

[b-1bdkgwdq4u] input {
    border: 0;
    font: inherit;
    outline: none;
    width: 100%;
}
/* _content/BergSoft.UI.Blazor/Components/TextBox/InputButton.razor.rz.scp.css */
.InputButtonBase[b-hgysxgcnb4] {
    --fallback-neutralLight: #f0f0f0;
    --fallback-colorNeutralBackground1Pressed: #e0e0e0;
}

.InputButtonBase[b-hgysxgcnb4] {
    border: 0;
    display: flex;
    outline: none;
}

.InputButton[b-hgysxgcnb4] {
    align-items: center;
    background: inherit;
    cursor: pointer;
    padding: 0 4px;
}

    .InputButton:hover[b-hgysxgcnb4] {
        background: var(--neutralLight, --fallback-neutralLight);
    }

    .InputButton:active:hover[b-hgysxgcnb4] {
        background: var(--colorNeutralBackground1Pressed, --fallback-colorNeutralBackground1Pressed);
    }
/* _content/BergSoft.UI.Blazor/Components/TextBox/SearchBox.razor.rz.scp.css */
.SearchBoxBase[b-cbwwqsiooo] {
    --fallback-themeLight: #b4d6fa;
    --fallback-neutralLight: #f0f0f0;
}

.SearchBoxBase[b-cbwwqsiooo] {
    position: relative;
}

.SearchResults[b-cbwwqsiooo] {
    display: flex;
    flex-direction: column;
}

.SearchResult[b-cbwwqsiooo] {
    cursor: default;
    padding: 8px;
}

    .SearchResult:hover[b-cbwwqsiooo] {
        background-color: var(--neutralLight, --fallback-neutralLight);
    }

    .SearchResult.Selected[b-cbwwqsiooo] {
        background: var(--themeLight, --fallback-themeLight);
    }
/* _content/BergSoft.UI.Blazor/Components/TextBox/SpinTextBox.razor.rz.scp.css */
.SpinTextBox[b-6ln0ucxk48] {
    --fallback-neutralLight: #f0f0f0;
    --fallback-neutralLighter: #f5f5f5;
    --fallback-colorNeutralBackground1Pressed: #e0e0e0;
}

.SpinTextBox[b-6ln0ucxk48] {
    background: white;
    display: inline-flex;
    align-items: stretch;
    min-height: 32px;
    padding: 0 8px;
}

    .SpinTextBox.borderStyleSingle[b-6ln0ucxk48] {
        border: 1px solid #D1D1D1;
        padding: 0 0 0 8px;
    }

    .SpinTextBox.borderStyleStyled[b-6ln0ucxk48] {
        border-radius: 4px;
        background-clip: border-box;
        border-image-outset: 0;
        border-image-repeat: stretch;
        border-image-slice: 100%;
        border-image-source: none;
        border-image-width: 1;
        border-bottom: 1px solid rgb(97, 97, 97);
        border-left: 1px solid rgb(209, 209, 209);
        border-right: 1px solid rgb(209, 209, 209);
        border-top: 1px solid rgb(209, 209, 209);
    }

    .SpinTextBox.Inplace[b-6ln0ucxk48] {
        border: 0;
        padding: 0 0 0 6px;
        font: inherit;
        width: 100%;
        height: 100%;
        min-height: inherit;
    }

    .SpinTextBox > input[b-6ln0ucxk48] {
        border: 0;
        font: inherit;
        outline: none;
        width: 100%;
    }

.SpinButtons[b-6ln0ucxk48] { display: flex; }

    .SpinButtons svg[b-6ln0ucxk48] {
        display: block;
        margin: 0 auto;
    }

    .SpinButtons.horizontal[b-6ln0ucxk48] { flex-direction: row; }
    .SpinButtons.vertical[b-6ln0ucxk48] { flex-direction: column-reverse; }

.SpinButtons > button[b-6ln0ucxk48] {
    background: inherit;
    border: 0;
    cursor: pointer;
    flex: 1;
    width: 28px;
}

    .SpinButtons.Compact > button[b-6ln0ucxk48] {
        width: 16px;
    }

    .SpinButtons > button:hover[b-6ln0ucxk48] {
        background: var(--neutralLight, --fallback-neutralLight);
    }

    .SpinButtons > button:active[b-6ln0ucxk48] {
        background: var(--neutralLighter, --fallback-neutralLighter);
    }

    .SpinButtons > button:hover:active[b-6ln0ucxk48] {
        background: var(--colorNeutralBackground1Pressed, --fallback-colorNeutralBackground1Pressed);
    }
/* _content/BergSoft.UI.Blazor/Components/TextBox/TextBox.razor.rz.scp.css */
.TextBox[b-kriey90e0o] {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    min-height: 32px;
    background-color: #FFF;
    padding: 0 8px;
}

    .TextBox.borderStyleSingle[b-kriey90e0o] {
        border: 1px solid #D1D1D1;
    }

    .TextBox.borderStyleStyled[b-kriey90e0o] {
        border-radius: 4px;
        background-clip: border-box;
        border-image-outset: 0;
        border-image-repeat: stretch;
        border-image-slice: 100%;
        border-image-source: none;
        border-image-width: 1;
        border-bottom: 1px solid rgb(97, 97, 97);
        border-left: 1px solid rgb(209, 209, 209);
        border-right: 1px solid rgb(209, 209, 209);
        border-top: 1px solid rgb(209, 209, 209);
    }

    .TextBox > input[b-kriey90e0o] {
        border: 0;
        outline: none;
        height: 20px;
        min-width: 0;
    }

    .TextBox > textarea[b-kriey90e0o] {
        border: 0;
        outline: none;
    }

    .TextBox.Inplace[b-kriey90e0o] {
        border: 0;
        padding: 0 0 0 6px;
        font: inherit;
        width: 100%;
        height: 100%;
        min-height: inherit;
    }


.ClearButton[b-kriey90e0o] {
    height: 14px;    
    width: 14px;
}
/* _content/BergSoft.UI.Blazor/Components/TextBox/TextBoxPanel.razor.rz.scp.css */
.TextBoxPanel[b-lur2hljkuj] {
    display: inline-flex;
    border: 1px solid #504948;
    border-radius: 2px;
}

[b-lur2hljkuj] input {
    border: 0;
    font-size: inherit;
    padding: 4px;
    outline: none;
}

/* _content/BergSoft.UI.Blazor/Components/Toast.razor.rz.scp.css */
.BaseToast[b-ej8q3plal3] {
    padding: 5px;
}
/* _content/BergSoft.UI.Blazor/Components/Toggle.razor.rz.scp.css */
.Toggle[b-olhuecb82u] {
    align-items: center;
    background: inherit;
    border: 1px solid var(--neutralSecondary);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    height: 20px;
    padding: 3px;
    width: 40px;
    transition: all 0.1s ease 0s;
}

    .Toggle:hover[b-olhuecb82u] {
        border-color: var(--neutralPrimary);
    }

    .Toggle div[b-olhuecb82u] {
        background: var(--neutralSecondary);
        height: 12px;
        width: 12px;
        border-radius: 6px;
    }

    .Toggle:hover div[b-olhuecb82u] {
        background: var(--neutralPrimary);
    }

    .Toggle.IsChecked[b-olhuecb82u] {
        background-color: var(--toggleChecked);
        border: 0;
        justify-content: flex-end;
    }

    .Toggle.IsChecked:hover[b-olhuecb82u] {
        background-color: var(--toggleCheckedHover);
    }

    .Toggle.IsChecked div[b-olhuecb82u] {
        background: white;
    }
/* _content/BergSoft.UI.Blazor/Components/Toolbar/Toolbar.razor.rz.scp.css */
.Toolbar[b-o8dc3488zu] {
    align-items: center;
    background: inherit;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
}

    .hasPadding[b-o8dc3488zu] {
        padding: 5px;
    }
/* _content/BergSoft.UI.Blazor/Components/Toolbar/ToolButton.razor.rz.scp.css */
.ToolButton[b-7d52exlwjm] {
    --fallback-neutralLight: #f0f0f0;
    --fallback-colorNeutralBackground1Pressed: #e0e0e0;
    --fallback-borderRadiusMedium: 4px;
}

.ToolButton[b-7d52exlwjm] {
    align-items: center;
    background: inherit;
    position: relative;
    border: 0 solid transparent;
    border-radius: var(--borderRadiusMedium, --fallback-borderRadiusMedium);
    cursor: pointer;
    color: black;
    display: inline-flex;
    gap: var(--space, 4px);
    justify-content: center;
}

.ToolButton:not(.compact)[b-7d52exlwjm] {
    padding: 6px;
}

    .ToolButton.compact[b-7d52exlwjm] {
        padding: 0 2px;
    }

    .ToolButton:hover[b-7d52exlwjm] {
        background: var(--neutralLight, --fallback-neutralLight);
    }

        .ToolButton:hover:active[b-7d52exlwjm] {
            background: var(--colorNeutralBackground1Pressed, --fallback-colorNeutralBackground1Pressed);
        }

    .ToolButton.checked[b-7d52exlwjm] {
        background: var(--toolButtonChecked);
    }

    .ToolButton:focus[b-7d52exlwjm] {
        outline: none;
    }

    .ToolButton.Light:hover:not(:active)[b-7d52exlwjm] {
        background: var(--neutralLight, --fallback-neutralLight);
    }

    .ToolButton.Danger:hover:not(:active)[b-7d52exlwjm] {
        background: var(--dangerSurface);
        fill: var(--danger);
    }

    .ToolButton.Success:hover:not(:active)[b-7d52exlwjm] {
        background: var(--successSurface);
        fill: var(--success);
    }

    .ToolButton .ChildContent[b-7d52exlwjm] {
        display: flex;
        gap: 4px;
        align-items: center;
    }

.ToolButton .Scale[b-7d52exlwjm] {
    transition: transform 0.2s ease;
}

        .ToolButton:hover .Scale[b-7d52exlwjm] {
            transform: scale(1.2);
        }

    .ToolButton .Bounce[b-7d52exlwjm] {
        transition: transform 0.2s ease;
    }

    .ToolButton:hover .Bounce[b-7d52exlwjm] {
        animation: bounce-b-7d52exlwjm 0.75s ease;
    }

    .ToolButton .FadeIn[b-7d52exlwjm] {
        transition: opacity 0.2s ease;
        opacity: 0.5;
    }

    .ToolButton:hover .FadeIn[b-7d52exlwjm] {
        opacity: 1;
    }

    .ToolButton .Saturation[b-7d52exlwjm] {
        filter: grayscale(100%);
        transition: filter 0.2s ease-in-out;
    }

    .ToolButton:hover .Saturation[b-7d52exlwjm] {
        filter: grayscale(0%);
    }

@keyframes bounce-b-7d52exlwjm {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    75% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1.1);
    }
}
/* _content/BergSoft.UI.Blazor/Components/Toolbar/ToolDivider.razor.rz.scp.css */
.ToolDivider[b-ervwsiag1x] {
    fill: #cdcdcd;
    padding: .5em;
    display: flex;
    align-items: center;
}
