/* _content/Bergsoft.Blazor.Tree/TreeList.razor.rz.scp.css */
.TreeList[b-5qel5ky16y] {
    padding: 0;
    list-style-type: none;
}

.Item[b-5qel5ky16y] {
    padding: 0;
    list-style-type: none;
}

.Toggle[b-5qel5ky16y] {
    fill: none;
    stroke: var(--content, black);
}

.Toggle:first-child[b-5qel5ky16y] {
    transform: rotate(-90deg);
    transition-duration: 0.2s;
    transition-property: transform;
}

.Toggle.Expanded:first-child[b-5qel5ky16y] {
    transform: rotate(0deg);
}

.ItemText[b-5qel5ky16y] {
    border-radius: var(--borderRadius, 4px);
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 4px;
}

    .ItemText:hover[b-5qel5ky16y] {
        background: var(--secondarySurface, gainsboro);
    }

    .ItemText.Selected[b-5qel5ky16y] {
        background: var(--selection, lightblue);
    }

        .ItemText.Selected.Focused[b-5qel5ky16y] {
            outline: var(--focusBorderSize, 1px) solid var(--focusBorder, dodgerblue);
        }

.Content[b-5qel5ky16y] {
    display: flex;
    gap: 4px;
    align-items: center;
    height: 28px;
    cursor: default;
}

.Content button[b-5qel5ky16y] {
    background: none;
    border: none;
    width: 28px;
    height: 28px;
}
