/* _content/BergSoft.Blazor.Grids/Columns/ImageColumn.razor.rz.scp.css */
.BaseImage[b-lpxxrdagmn] {
    height: 100%;
}

.RoundCorners[b-lpxxrdagmn] {
    border-radius: 4px;
}
/* _content/BergSoft.Blazor.Grids/GridCell.razor.rz.scp.css */
.GridCell[b-gtv71d8mx9] {
    --fallback-neutralLighter: #f5f5f5;
    --fallback-themeSecondarySurfaceSelected: #cfe4fa;
    --fallback-colorNeutralBackground1Pressed: #e0e0e0;
    --fallback-themePrimary: #0f6cbd;
    --fallback-borderRadiusLarge: 6px;
}

.GridCell[b-gtv71d8mx9] {
    align-items: center;
    cursor: default;
    padding: 0 6px;
    height: inherit;
}

    .GridCell:hover:not(.IsSelected)[b-gtv71d8mx9] {
        cursor: var(--selectionCursorHover, default);
        background: var(--secondarySurface, lightgray);
    }

    .GridCell.IsEditing[b-gtv71d8mx9] {
        background: none;
        padding: 0;
        outline: 1px solid var(--focusBorder, blue);
    }

    .GridCell.IsSelected:not(.IsEditing)[b-gtv71d8mx9] {
        background: var(--surface, silver);
    }

    .GridCell.IsSelected[b-gtv71d8mx9] {
        border-radius: 0;
    }

    .GridCell.IsFocused:not(.IsEditing)[b-gtv71d8mx9] {
        background-color: var(--selection, blue);
        outline: none;
    }

    .GridCell:not(:first-child).GridLinesBoth[b-gtv71d8mx9] {
        border-left: 1px solid var(--gridLines, gray);
    }

    .GridCell.HorizontalAlignmentLeft[b-gtv71d8mx9] {
        text-align: left;
    }

    .GridCell.HorizontalAlignmentCenter[b-gtv71d8mx9] {
        text-align: center;
    }

    .GridCell.HorizontalAlignmentRight[b-gtv71d8mx9] {
        text-align: right;
    }
/* _content/BergSoft.Blazor.Grids/GridCellsLayout.razor.rz.scp.css */
/* _content/BergSoft.Blazor.Grids/GridFooter.razor.rz.scp.css */
.BaseGridFooter[b-xke5cy9lr3] {
    padding: 6px 4px;
}
/* _content/BergSoft.Blazor.Grids/GridHeader.razor.rz.scp.css */
.GridHeader[b-z8s3g6i8ph] {
    align-items: center;
    cursor: pointer;
    font-weight: normal;
    height: 30px;
    user-select: none;
    border-bottom: 1px solid var(--gridLines, gray);
}

    .GridHeader .Content[b-z8s3g6i8ph] {
        display: flex;
        padding: 0 6px;
        flex: 1;
        overflow: hidden;
        align-items: center;
        margin-right: -6px;
    }

        .GridHeader *[b-z8s3g6i8ph]::deep {
            font-size: var(--fontSize);
        }

    .HeaderText[b-z8s3g6i8ph] {
        font-size: var(--fontSize);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .GridHeader > div[b-z8s3g6i8ph] {
        display: flex;
        position: relative;
        height: 100%;
    }

    .GridHeader:not(:first-child) .Content[b-z8s3g6i8ph] {
        margin-left: 6px;
    }

    .GridHeader .Content:hover[b-z8s3g6i8ph] {
        background: var(--secondarySurface, gray);
    }

        .GridHeader .Content:hover:active[b-z8s3g6i8ph] {
            background: var(--surface, gray);
        }

    .GridHeader svg[b-z8s3g6i8ph] {
        margin-left: 5px;
    }

        .GridHeader svg path[b-z8s3g6i8ph] {
            fill: var(--content, black);
        }

    .GridHeader.sortDirectionDescending svg[b-z8s3g6i8ph] {
        transform: rotate(180deg);
    }
/* _content/BergSoft.Blazor.Grids/GridHeaders.razor.rz.scp.css */
.GridHeaders[b-8sfzoys14z] {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
/* _content/BergSoft.Blazor.Grids/HeaderDivider.razor.rz.scp.css */
.HeaderDivider[b-zfpw6vqh3q] {
    cursor: col-resize;
    width: 13px;
    position: relative;
    left: 6px;
    padding: 6px;
    z-index: 99;
}

    .HeaderDivider hr[b-zfpw6vqh3q] {
        background: var(--gridLines, gray);
        border: 0;
        margin: 0;
        padding: 0;
        height: 100%;
    }
/* _content/BergSoft.Blazor.Grids/InplaceInput.razor.rz.scp.css */
.InplaceInput[b-ytz0rpkr3e] {
    background: inherit;
    border: 0;
    font: inherit;
    width: 100%;
    outline: none;
}
/* _content/BergSoft.Blazor.Grids/Layout/DetailsGridLayout.razor.rz.scp.css */
.GridRow[b-9uz1poxnp8] {
    height: 28px;
}

.GridLinesBoth[b-9uz1poxnp8], GridLinesHorizontalOnly[b-9uz1poxnp8] {
    border-bottom: 1px solid var(--neutralTertiaryAlt);
}
/* _content/BergSoft.Blazor.Grids/Layout/StacksGridLayout.razor.rz.scp.css */
.StacksGridLayout[b-dvpqdxdln2] {
    --fallback-neutralLighter: #f5f5f5;
    --fallback-themeSecondarySurfaceSelected: #cfe4fa;
    --fallback-spacingHorizontalS: 8px;
    --fallback-spacingVerticalS: 8px;
}

.StacksGridLayout[b-dvpqdxdln2] {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacingLarge, --fallback-spacingHorizontalS);
}

.CellsStack[b-dvpqdxdln2] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 100px;
    padding: var(--spacingHorizontalS, --fallback-spacingHorizontalS) var(--spacingVerticalS, --fallback-spacingVerticalS);
}

    .CellsStack:hover[b-dvpqdxdln2] {
        background: var(--surface, --silver);
    }

    .CellsStack.Selected[b-dvpqdxdln2] {
        background: var(--surface, --silver);
    }

    .CellsStack.Focused[b-dvpqdxdln2] {
        background-color: var(--selection, blue);
        outline: none;
    }

    .CellsStack td[b-dvpqdxdln2] {
        line-height: 28px;
    }
/* _content/BergSoft.Blazor.Grids/NextGrid.razor.rz.scp.css */
.NextGrid[b-exzyssrf6y] {
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    font-size: var(--fontSize, inherit);
    user-select: none;
    outline: none;
    -webkit-user-select: none;
    overflow: auto;
    table-layout: fixed;
}

.GridFooters[b-exzyssrf6y] {
    border-top: 1px solid var(--neutralTertiaryAlt);
}

.GroupHeader[b-exzyssrf6y] {
    text-align: left;
    font-weight: 600;
    padding: 0 0 0 6px;
    background: #F5F5F5;
    height: 32px;
    border-bottom: 1px solid #E0E0E0;
}
