/* _content/Bergsoft.Blazor/Breadcrumbs.razor.rz.scp.css */
.Breadcrumbs[b-bnfqpoyupt] {
    display: flex;
}

    .Breadcrumbs button[b-bnfqpoyupt] {
        background: none;
        border: none;
        padding: 4px var(--spacingLarge);
        align-items: center;
        border: 1px solid var(--borderColor);
        border-radius: var(--borderRadius, 6px);
        color: var(--content);
        cursor: pointer;
        display: flex;
        font-size: var(--fontSize);
        fill: var(--content);
        justify-content: center;
        min-height: 2rem;
    }

    .Breadcrumbs button:hover[b-bnfqpoyupt] {
        background: var(--secondarySurface, silver);
    }

        .Breadcrumbs button:active[b-bnfqpoyupt] {
            background: var(--surface, gray);
        }

    .Breadcrumbs button.Separator[b-bnfqpoyupt] {
        stroke: var(--content);
    }
/* _content/Bergsoft.Blazor/Button.razor.rz.scp.css */
.ButtonBase[b-hbkr7rl37x] {
    align-items: center;
    border: 2px solid transparent;
    display: inline-flex;
    gap: 4px;
    justify-content: center;
    user-select: none;
}

.Button[b-hbkr7rl37x] {
    transition: outline ease-out 0.1s;
}

.Button[b-hbkr7rl37x] {
    background-color: var(--surface, lightgray);
    cursor: pointer;
    color: var(--content, white);
    font-weight: 500;
    font-size: var(--fontSize, 12px);
    height: 32px;
    padding: 0 24px;
}

    .Button.roundCorners[b-hbkr7rl37x] {
        border-radius: var(--borderRadiusLarge, 8px);
    }

    .Button.pill[b-hbkr7rl37x] {
        border-radius: 100vh;
    }

    .Button:active[b-hbkr7rl37x] {
        background: var(--tertiarySurface, darkgray);
    }

    .Button:focus:not(:disabled)[b-hbkr7rl37x],
    .Button:focus-within:not(:disabled)[b-hbkr7rl37x] {
        outline-offset: 1px;
        outline: 2px solid var(--focusBorder);
    }

    .Button.sizePresetWide[b-hbkr7rl37x] {
        padding: 0 32px;
    }

    .Button:disabled[b-hbkr7rl37x] {
        background: var(--neutralLighter, var(--fallback-neutralLighter));
        color: graytext;
        cursor: default;
    }

    .Button:hover:not(:disabled)[b-hbkr7rl37x] {
    }

    .Button:active:hover:not(:disabled)[b-hbkr7rl37x] {

    }

    .Button.IsChecked[b-hbkr7rl37x] {
        border: 2px solid var(--gridLines, gray);
    }

    .Button.Rounded[b-hbkr7rl37x] {
        align-items: center;
        border: 0;
        flex-direction: column;
        justify-content: center;
        border-radius: 1000vh;
    }

    .Button.Primary[b-hbkr7rl37x] {
        background-color: var(--active, black);
        color: var(--activeText, #fff);
    }

        .Button.Primary:hover[b-hbkr7rl37x] {
        }

        .Button.Primary:active:is(:hover)[b-hbkr7rl37x] {
        }
/* _content/Bergsoft.Blazor/ButtonTextBox.razor.rz.scp.css */
.ButtonTextBoxBase[b-v87jg2ec2x] {
    display: inline-flex;
}

    .ButtonTextBoxBase.Inplace[b-v87jg2ec2x] {
        border: 0;
        padding: 0 0 0 6px;
        font: inherit;
        width: 100%;
        height: 100%;
    }

.ButtonTextBox:not(.Inplace)[b-v87jg2ec2x] {
    padding-left: 4px;
    border: 1px solid #D1D1D1;
    min-height: 26px;
}
/* _content/Bergsoft.Blazor/Callout.razor.rz.scp.css */
.CalloutBase[b-2sht7hl0k3] {
    --beakSize: 18px;
    --offsetX: 0;
    --offsetY: 9px;
    position: absolute;
    z-index: 1004;
}

.CalloutBase.AnchorLocationLeft[b-2sht7hl0k3] {
    top: -9px;
    left: 100%;
}

    .CalloutBase.AnchorLocationTop[b-2sht7hl0k3] {
        top: 100%;
        left: 0;
        transform: translate(0, 9px);
    }

.Callout[b-2sht7hl0k3] {
    background: var(--overlay, white);
    border-radius: 2px;
    min-width: 100px;
    min-height: 100px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px 0px;
}

.CalloutContent[b-2sht7hl0k3] {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: inherit;
    padding: 16px
}

.Beak[b-2sht7hl0k3] {
    background: var(--overlay, white);
    position: absolute;
    width: var(--beakSize, 18px);
    height: var(--beakSize, 18px);
    box-shadow: inherit;
    transform: rotate(45deg);
}

    .Beak.AnchorLocationTop[b-2sht7hl0k3] {
        left: 20px;
        top: -9px;
    }

    .Beak.AnchorLocationLeft[b-2sht7hl0k3] {
        transform: translateX(-9px) translateY(18px) rotate(45deg);
    }
/* _content/Bergsoft.Blazor/CheckBox.razor.rz.scp.css */
.CheckBox[b-8dyxggztvc] {
    align-items: center;
    display: inline-flex;
    gap: var(--spacingLarge, 8px);
    cursor: pointer;
    user-select: none;
}

.CheckBox input[type="checkbox"][b-8dyxggztvc] {
    display: none;
}

    .CheckBox .checkmark[b-8dyxggztvc] {
        position: relative;
        display: block;
        width: 20px;
        height: 20px;
        background-color: var(--active);
        transition: outline ease-out 0.1s;
    }

    .CheckBox.checkBoxKindSquare .checkmark[b-8dyxggztvc] {
        border-radius: 5px;
    }

    .CheckBox.checkBoxKindCircle .checkmark[b-8dyxggztvc] {
        border-radius: 10px;
    }

    .CheckBox:focus
    .checkmark[b-8dyxggztvc] {
        outline-offset: 1px;
        outline: 2px solid var(--focusBorder);
    }

        .CheckBox:hover .checkmark[b-8dyxggztvc] {
        }

        .CheckBox:hover .checkmark[b-8dyxggztvc]::after {
            display: block;
        }


    .CheckBox input[type="checkbox"]:checked + .checkmark[b-8dyxggztvc] {

    }
    .CheckBox:hover input[type="checkbox"]:checked + .checkmark[b-8dyxggztvc] {
        /* hover */
    }

    .CheckBox input[type="checkbox"]:checked + .checkmark[b-8dyxggztvc]:after {
        content: "";
        position: absolute;
        display: none;
        left: 7px;
        top: 4px;
        width: 5px;
        height: 9px;
        border: solid var(--activeText);
        border-width: 0 1.5px 1.5px 0;
        transform: rotate(42deg);
    }

.CheckBox input[type="checkbox"]:checked + .checkmark[b-8dyxggztvc]:after {
    display: block;
}
/* _content/Bergsoft.Blazor/ColorPickerButton.razor.rz.scp.css */
.Colors[b-rytu4b8wtg] {
    display: flex;
}
/* _content/Bergsoft.Blazor/DatePicker.razor.rz.scp.css */
.DatePickerBase[b-jpuuq9fc0j] {
    --fallback-neutralLight: #f0f0f0;
    --fallback-colorNeutralBackground1Pressed: #e0e0e0;
    --fallback-borderRadiusMedium: 4px;
    --fallback-themeSecondarySurfaceSelected: #cfe4fa;
    --fallback-themePrimary: #0f6cbd;
    --fallback-themeLight: #b4d6fa;
}

.DatePickerBase[b-jpuuq9fc0j] {
    display: inline-flex;
    position: relative;
}

    .DatePicker > button[b-jpuuq9fc0j] {
        border: 0;
        background: inherit;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28px;
    }

        .DatePicker > button:hover[b-jpuuq9fc0j] {  }

        .Buttons[b-jpuuq9fc0j] {
            display: flex;
            justify-content: center;
            margin-bottom: 12px;
        }

.DatePickerPanel[b-jpuuq9fc0j] {
    padding: var(--spacing-xl, 12px);
}

/* _content/Bergsoft.Blazor/DateSelector.razor.rz.scp.css */
.DateSelector[b-39l4o5tvsz] {
    --fallback-neutralLight: #f0f0f0;
    --fallback-colorNeutralBackground1Pressed: #e0e0e0;
    --fallback-borderRadiusMedium: 4px;
    --fallback-themeSecondarySurfaceSelected: #cfe4fa;
    --fallback-themePrimary: #0f6cbd;
    --fallback-themeLight: #b4d6fa;
    --fallback-borderRadiusSmall: 2px;
    --daySize: 28px;
}

.DateSelector[b-39l4o5tvsz] {
    --daySize: 28px;
    display: inline-flex;
    flex-direction: column;
    user-select: none;
}

    .DateSelector header[b-39l4o5tvsz] {
        align-items: center;
        display: flex;
        height: var(--daySize, 28);
        margin-bottom: var(--spacing, 4px);
    }

        .DateSelector header h2[b-39l4o5tvsz] {
            margin: 0;
            padding: 0;
            font-size: 14px;
            font-weight: 600;
            padding-left: 10px;
            flex: 1;
        }

        .DateSelector header button[b-39l4o5tvsz] {
            background: inherit;
            border: 0;
            border-radius: 2px;
            cursor: pointer;
            height: var(--daySize, 28);
            width: var(--daySize, 28);
        }

            .DateSelector header button:hover[b-39l4o5tvsz] {
                background: var(--surface, lightgray);
            }

            .DateSelector header button:active[b-39l4o5tvsz] {
                background: var(--secondarySurface, gray);
            }


    .DateSelector .WeekDays[b-39l4o5tvsz] {
        display: flex;
    }

        .DateSelector .WeekDays > div[b-39l4o5tvsz] {
            text-align: center;
            line-height: var(--daySize, 28);
            height: var(--daySize, 28);
            width: var(--daySize, 28);
        }

    .DateSelector .Week[b-39l4o5tvsz] {
        display: flex;
    }

        .DateSelector .Week .Day[b-39l4o5tvsz] {
            border-radius: var(--borderRadiusSmall, --fallback-borderRadiusSmall);
            cursor: pointer;
            text-align: center;
            height: var(--daySize, 28);
            width: var(--daySize, 28);
            line-height: var(--daySize, 28);
        }

            .DateSelector .Week .Day:hover:not(:active)[b-39l4o5tvsz] {
                background: var(--surface, silver);
            }

    .DateSelector .Day:hover:active[b-39l4o5tvsz] {
        background: var(--buttonHover, var(--fallback-themeSecondarySurfaceSelected));
    }

    .DateSelector .Today[b-39l4o5tvsz] {
        background: var(--focusBorder, darkblue);
        color: var(--activeText, white);
        display: block;
        height: 100%;
        border-radius: 100%;
    }

.outsideMonth[b-39l4o5tvsz] {
    color: silver;
}

.selectedDay[b-39l4o5tvsz] {
    background: var(--selection, lightblue);
}
/* _content/Bergsoft.Blazor/Dialog/Dialog.razor.rz.scp.css */
.DialogBase.Compact[b-hmn2hq7i0n] {
    width: 320px;
    height: 160px;
}

    .DialogBase.Medium[b-hmn2hq7i0n] {
        width: 400px;
        height: 200px;
    }

    .DialogBase.Standard[b-hmn2hq7i0n] {
        width: 480px;
        height: 320px;
    }

.Dialog[b-hmn2hq7i0n] {
    background: var(--overlay, white);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    position: absolute;
    box-shadow: rgb(0 0 0 / 22%) 0px 25.6px 57.6px 0px, rgb(0 0 0 / 18%) 0px 4.8px 14.4px 0px;
    max-height: calc(100% - 40px);
    max-width: calc(100% - 40px);
}

    .Dialog header[b-hmn2hq7i0n] {
        border-radius: 4px 4px 0 0;
        color: var(--content);
        display: flex;
        font-size: 16px;
        font-weight: 600;
        height: 44px;
        padding: 0 20px;
        align-items: center;
        justify-content: space-between;
        user-select: none;
    }

    .Dialog header button[b-hmn2hq7i0n] {
        padding: 8px;
    }

.DialogTitleBarBase[b-hmn2hq7i0n] {
    flex: 1;
    height: 100%;
}

    .DialogTitleBarBase.Moving[b-hmn2hq7i0n] {
        cursor: move;
    }

.DialogTitleBar[b-hmn2hq7i0n] {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .Dialog footer[b-hmn2hq7i0n] {
        display: flex;
        margin-top: auto;
        gap: 10px;
        height: 44px;
        padding: 0 20px;
        justify-content: flex-end;
        user-select: none;
    }

    .Dialog .content[b-hmn2hq7i0n] {
        padding: 20px;
    }

    .Dialog .CloseButton[b-hmn2hq7i0n] {
        margin-left: auto;
        background: inherit;
        border: 0;
        outline: none;
    }

.DialogBehind[b-hmn2hq7i0n] {
    background: var(--blackTranslucent40);
    display: flex;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 200;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.open[b-hmn2hq7i0n] {
    display: flex;
}

.closed[b-hmn2hq7i0n] {
    display: none;
}
/* _content/Bergsoft.Blazor/DropDownList.razor.rz.scp.css */
.DropDownButton[b-8g2tpk3fjy] {
}

.DropDownButton[b-8g2tpk3fjy] {
    display: inline-flex;
    position: relative;
    align-items: center;
    background: inherit;
    border: 0;
    color: var(--content);
    cursor: pointer;
    font: inherit;
    fill: var(--content);
}

    .DropDownButton:focus[b-8g2tpk3fjy] {
        outline: none;
    }

    .DropDownButton.Condensed[b-8g2tpk3fjy] {
        padding: 2px 4px;
    }

    .DropDownButton:not(.Condensed)[b-8g2tpk3fjy] {
        padding: 6px 8px;
    }

    .DropDownButton:not(.Inplace)[b-8g2tpk3fjy] {
        border-radius: var(--borderRadius, 4px);
        min-width: 21px;
        min-height: 21px;
    }

    .DropDownButton.Inplace[b-8g2tpk3fjy] {
        width: 100%;
        height: 100%;
        padding: 0 6px;
        justify-content: space-between;
    }

    .DropDownButton footer[b-8g2tpk3fjy] {
        display: flex;
        border-top: 1px solid var(--buttonHover);
        padding: 4px;
    }

    .DropDownButton:hover[b-8g2tpk3fjy] {
        background: var(--surface, silver);
    }

    .DropDownButton.isOpen[b-8g2tpk3fjy] {
        background: var(--tertiarySurface, darkgray);
    }

.DropDownList[b-8g2tpk3fjy] {
    min-width: 200px;
    min-height: 100px;
    background: #fff;
    position: absolute;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.133) 0px 3.2px 7.2px 0px, rgba(0, 0, 0, 0.11) 0px 0.6px 1.8px 0px;
    z-index: 1000;
}

.Item[b-8g2tpk3fjy] {
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    gap: 4px;
    min-height: 32px;
    padding: 0 8px;
}

    .Item:active[b-8g2tpk3fjy] {
        background: var(--selection, blue);
    }

    .Item:hover[b-8g2tpk3fjy] {
        background: var(--surface, silver);
    }

    .Item.Selected:not(:hover)[b-8g2tpk3fjy] {
        background: var(--selection, blue);
    }
/* _content/Bergsoft.Blazor/DropPanel.razor.rz.scp.css */
.DropPanelBase[b-5z14ynwimv] {
}

.DropPanel[b-5z14ynwimv] {
    background: var(--baseSurface, white);
    border: 1px solid var(--gridLines);
    border-radius: 4px;
    position: absolute;
    z-index: 2000;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
    left: 0;
    top: 100%;
}

.DropPanel.RoundCorners[b-5z14ynwimv] {
    border-radius: 8px;
}

    .DropPanel.Shadow[b-5z14ynwimv] {
        box-shadow: rgba(0, 0, 0, 0.133) 0px 6.4px 14.4px 0px, rgba(0, 0, 0, 0.11) 0px 1.2px 3.6px 0px;
    }

    .DropPanel.IsOpen[b-5z14ynwimv] { opacity: 1; }

    .DropPanel.AddPadding[b-5z14ynwimv] {
        padding: 6px;
    }
/* _content/Bergsoft.Blazor/IconPanel.razor.rz.scp.css */
.IconPanel[b-jgpb7gxk7b] {
    display: flex;
    gap: 8px;
}

.IconPanel svg[b-jgpb7gxk7b] {
    fill: var(--content);
}

.IconPanel aside[b-jgpb7gxk7b] {
    padding-top: 4px;
}

.IconPanel h2[b-jgpb7gxk7b] {
    margin: 0 0 4px 0;
}
/* _content/Bergsoft.Blazor/Image.razor.rz.scp.css */
.BaseImage[b-a9pqu80cgh] {
    height: 100%;
}

.RoundCorners[b-a9pqu80cgh] {
    border-radius: 4px;
}
/* _content/Bergsoft.Blazor/InplaceInput.razor.rz.scp.css */
.InplaceInput[b-0pmldavs0u] {
    background: none;
    border: 0;
    color: var(--content);
    font: inherit;
    width: 100%;
    outline: none;
    padding: 0 0 0 10px;
}

    .InplaceInput.Inplace[b-0pmldavs0u] {
        padding: 0 0 0 6px;        
    }
/* _content/Bergsoft.Blazor/InputButton.razor.rz.scp.css */
.InputButtonBase[b-b4aqhhf9rd] {
    background: none;
    border: 0;
    display: flex;
    outline: none;
}

.InputButton[b-b4aqhhf9rd] {
    align-items: center;
    border: 1px solid var(--borderColor);
    border-radius: var(--borderRadius, 6px);
    color: var(--content);
    cursor: pointer;
    fill: var(--content);
    justify-content: center;
    min-width: 1.3rem;
}

    .InputButton:hover[b-b4aqhhf9rd] {
        background: #f6f8fa;
    }

    .InputButton:active[b-b4aqhhf9rd] {
        background: var(--buttonPushed);
    }

    .InputButton.borderSolid:hover[b-b4aqhhf9rd] {
        border: 1px solid var(--borderColorHover, #f6f8fa);
    }

    .InputButton.Inplace[b-b4aqhhf9rd] {
        margin: var(--spacing-s);
    }
/* _content/Bergsoft.Blazor/InputContainer.razor.rz.scp.css */
.InputContainerBase[b-xs0fgopdos] {
    display: inline-flex;
}

.InputContainer[b-xs0fgopdos] {
    color: var(--content);
    font-size: 12px;
    font-weight: 500;
}

    .InputContainer:not(.Inplace)[b-xs0fgopdos] {
        background-color: var(--surface, #f6f8fa);
        border: 1px solid transparent;
        border-radius: var(--borderRadius, 4px);
        min-height: 32px;
    }

    .InputContainer.Inplace[b-xs0fgopdos] {
        background: none;
        border: none;
        height: 100%;
        width: 100%;
    }

    .InputContainer.borderStyleSolid[b-xs0fgopdos] {
        border-color: var(--borderColor);
    }

        .InputContainer.borderStyleSolid:hover[b-xs0fgopdos] {
            border-color: var(--borderColorHover);
        }

    .InputContainer:focus:not(.Inplace)[b-xs0fgopdos],
    .InputContainer:focus-within:not(.Inplace)[b-xs0fgopdos] {
        outline-offset: 1px;
        outline: 2px solid var(--focusBorder, blue);
    }
/* _content/Bergsoft.Blazor/Label.razor.rz.scp.css */
.LabelBase[b-lcixxmt9oj] {
    display: flex;
    flex-direction: column;
}

.ChildContent[b-lcixxmt9oj] {
    display: flex;
}

.LabelBase:not(.statusHidden)[b-lcixxmt9oj] {
    padding-left: 8px;
}

.Label[b-lcixxmt9oj] {
    font-size: 10px;
    font-weight: 500;
}

.Label .Title[b-lcixxmt9oj] {
    align-items: center;
    display: flex;
    gap: 2px;
    margin-bottom: 2px;
}

.Required[b-lcixxmt9oj] {
    fill: var(--red, red);
}

.Label.statusError[b-lcixxmt9oj] {
    border-left: 2px solid var(--red, red);
}

.Label.statusModified[b-lcixxmt9oj] {
    border-left: 2px solid var(--yellow, yellow);
}

.Label.statusSaved[b-lcixxmt9oj] {
    border-left: 2px solid var(--green, green);
}
/* _content/Bergsoft.Blazor/ListBox.razor.rz.scp.css */
.ListBox[b-yga0b1w7mh] {
}

.ListBox[b-yga0b1w7mh] {
    overflow-y: auto;
}

.ListBox:focus[b-yga0b1w7mh] {
    outline: none;
}

.Item[b-yga0b1w7mh] {
    border-radius: var(--borderRadius, 4px);
    cursor: pointer;
    color: var(--content, black);
    display: flex;
    align-items: center;
    height: 28px;
    padding: 0 8px;
    user-select: none;
}

    .Item:hover[b-yga0b1w7mh] {
        background-color: var(--surface, silver);
    }

    .Item.Selected:not(.HideSelection)[b-yga0b1w7mh] {
        background-color: var(--tertiarySurface, silver);
        color: var(--active, black);
    }

.ListBox:focus .Item.Selected[b-yga0b1w7mh] {
    color: var(--selectionText, black);
    background-color: var(--selection);
    outline: none;
}
/* _content/Bergsoft.Blazor/Navigation/NavigationGroupHeader.razor.rz.scp.css */
.NavigationGroupHeader[b-7zph7kjt4d] {
    cursor: pointer;
    color: inherit;
    height: 48px;
    display: flex;
    align-items: center;
    transition: color 80ms cubic-bezier(.165, .84, .44,1), background 80ms linear;
    user-select: none;
}

    .NavigationGroupHeader.expanded[b-7zph7kjt4d] {
        background: var(--nav-vertical-active-group-background);
    }

    .NavigationGroupHeader[b-7zph7kjt4d]  > span {
        display: flex;
        align-items: center;
        font-weight: bold;
    }

    .NavigationGroupHeader[b-7zph7kjt4d]  .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 47px;
    }

    .NavigationGroupHeader:hover[b-7zph7kjt4d] {
        background: rgba(0, 0, 0, 0.06);
    }

    .NavigationGroupHeader img[b-7zph7kjt4d] {
        height: 24px;
        width: 24px;
        margin: 8px;
    }
/* _content/Bergsoft.Blazor/Navigation/NavigationItem.razor.rz.scp.css */
.NavigationItem[b-up8yrro5i8] {
    display: flex;
    height: 40px;
    align-items: center;
}

    .NavigationItem:hover[b-up8yrro5i8] {
        background: rgba(0, 0, 0, 0.06);
    }
/* _content/Bergsoft.Blazor/Navigation/NavigationView.razor.rz.scp.css */
.NavigationView[b-ia3dq2902b] {
    --palette-neutral-8: 234, 234, 234;
    --palette-primary: 0, 120, 212;
    --palette-neutral-100: 0, 0, 0;
    --palette-black-alpha-20: rgba(var(--palette-neutral-100), 0.20);
    --communication-background: rgba(var(--palette-primary), 1);

    /** navigation */
    --nav-vertical-active-group-background: rgba(var(--palette-neutral-100), 0.06);
    --nav-vertical-background-color: rgba(var(--palette-neutral-8), 1);
}

    .NavigationView[b-ia3dq2902b] {
        background: var(--nav-vertical-background-color);
        display: flex;
        flex-direction: column;
    }

        .NavigationView:last-child[b-ia3dq2902b] {
            margin-top: auto;
            border: 0;
        }

    .NavigationGroup[b-ia3dq2902b] {
        position: relative;
    }

    .NavigationGroup.expanded[b-ia3dq2902b] {
        background: var(--nav-vertical-active-group-background);
    }

    .NavigationGroup.expanded[b-ia3dq2902b]::before {
        bottom: 0;
        background-color: rgba(0,0,0,.2);
        background-color: var(--palette-black-alpha-20, rgba(0, 0, 0, .2));
        content: "";
        left: 0;
        position: absolute;
        top: 0;
        width: 3px;
    }

    .NavigationView a[b-ia3dq2902b] {
        align-items: center;
        display: flex;
        height: 40px;
        position: relative;
    }

��� .NavigationView a span[b-ia3dq2902b] {
        background: yellow;
        width: 47px;
    }

���� .NavigationView a.expanded[b-ia3dq2902b] {
    }

    .NavigationView a.expanded[b-ia3dq2902b]::before {
        background-color: rgba(0, 120, 212, 1);
        background-color: var(--communication-background, rgba(0, 120, 212, 1));
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        top: 0;
        width: 3px;
    }

.NavigationView .Footer[b-ia3dq2902b] {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.NavigationView .Toggle[b-ia3dq2902b] {
    background: inherit;
    border: 0;
    cursor: pointer;
    width: 47px;
}

    .NavigationView .Toggle.IsCompact svg[b-ia3dq2902b] {
        transform: rotate(180deg);
    }
/* _content/Bergsoft.Blazor/Popup/PopupMenu.razor.rz.scp.css */
.PopupMenu[b-e9fafc4dqy] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 180px;
}
/* _content/Bergsoft.Blazor/Popup/PopupMenuGroup.razor.rz.scp.css */
.PopupMenuGroup[b-0mpcteqmwo] {
    display: flex;
    flex-direction: column;
}

.Title[b-0mpcteqmwo] {
    text-align: left;
    padding: 6px;
    font-weight: 500;
    margin: 8px 8px 1px 8px;
}
/* _content/Bergsoft.Blazor/Popup/PopupMenuOption.razor.rz.scp.css */
.PopupMenuOption[b-uutbyp5cnx] {
    align-items: center;
    border: 0;
    border-radius: var(--borderRadius, 4px);
    background: inherit;
    color: var(--content, black);
    cursor: pointer;
    display: flex;
    font-size: var(--fontSize);
    padding: 0;
    height: 32px;
}

    .PopupMenuOption div:first-child[b-uutbyp5cnx] {
        display: flex;
        align-items: center;
        width: 32px;
        justify-content: center;
    }

    .PopupMenuOption div:first-child svg[b-uutbyp5cnx] {
        fill: none;
        stroke: var(--content);
    }

    .PopupMenuOption:hover[b-uutbyp5cnx] {
        background: var(--selection);
    }

    .PopupMenuOption:active:not(:disabled)[b-uutbyp5cnx] {
        background: var(--borderColor);
    }

    .PopupMenuOption:disabled[b-uutbyp5cnx] {
        color: silver;
    }

    .PopupMenuOption .ChildContent[b-uutbyp5cnx] {
        text-align: left;
        flex: 1;
    }

    .PopupMenuOption .ShortCut[b-uutbyp5cnx] {
        display: flex;
        align-items: center;
        color: var(--gridLines, gray);
        justify-content: center;
        width: 32px;
    }
/* _content/Bergsoft.Blazor/ProgressBar.razor.rz.scp.css */
.ProgressBarBase[b-3u2zgsr8h1] {
    height: 6px;
    background: var(--surface);
    border-radius: 3px;
}

.Bar[b-3u2zgsr8h1] {
    background: var(--selection);
    border-radius: 3px;
    height: 100%;
    transition: all ease-out 0.5s;
}

    .ProgressBar[b-3u2zgsr8h1] {
        background: var(--surface);
    }

    .ProgressBar.Selection .Bar[b-3u2zgsr8h1] {
        background: var(--focusBorder);
    }

    .ProgressBar.Yolk[b-3u2zgsr8h1] {
        background: #fdf4d4;
    }
    .ProgressBar.Yolk .Bar[b-3u2zgsr8h1] { background: #fcc902; }

    .ProgressBar.Acid .Bar[b-3u2zgsr8h1] {
        background: linear-gradient(to right, #00d031, #e0ff42);           
    }

    .ProgressBar.Fire .Bar[b-3u2zgsr8h1] {
        background: linear-gradient(to right, #ff6d00, #ffe200);
    }

    .ProgressBar.Horizon .Bar[b-3u2zgsr8h1] {
        background: linear-gradient(to right, #f7c91e, #fb7f27, #f62df7, #00ffe7);
    }
/* _content/Bergsoft.Blazor/ProportionalBar.razor.rz.scp.css */
.ProportionalBarBase[b-1m96dq18uf] {
}

.Bars[b-1m96dq18uf] {
    display: flex;
}
/* _content/Bergsoft.Blazor/RadioButton.razor.rz.scp.css */
.RadioButton[b-71z8yk4py0] {
    align-items: center;
    cursor: pointer;
    display: flex;
    position: relative;
    height: 20px;
}

    .RadioButton input[b-71z8yk4py0] {
        position: absolute;
        opacity: 0;
        top: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
        margin: 0px;
    }

    .RadioButton label[b-71z8yk4py0]::before {
        content: "";
        display: inline-block;
        background-color: var(--surface);
        width: 20px;
        height: 20px;
        font-weight: normal;
        position: absolute;
        top: 0px;
        left: 0px;
        box-sizing: border-box;
        transition-property: border-color;
        transition-duration: 200ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.23, 1);
        border-radius: 50%;
    }

    .RadioButton:focus label[b-71z8yk4py0]::before,
    .RadioButton:focus-within label[b-71z8yk4py0]::before {
        outline-offset: 1px;
        outline: 2px solid var(--focusBorder, blue);
    }

    .RadioButton label:hover[b-71z8yk4py0]::before {
    }

    .RadioButton label:hover[b-71z8yk4py0]::after {
        content: "";
        transition-property: background-color;
        left: 5px;
        top: 5px;
        width: 10px;
        height: 10px;
        background-color: var(--neutralSecondary);
    }

    .RadioButton input:checked ~ label[b-71z8yk4py0]::before {
        background: var(--active);
    }

    .RadioButton input:checked ~ label[b-71z8yk4py0]::after {
        content: "";
        width: 8px;
        height: 8px;
        border-radius: 50%;
        position: absolute;
        left: 6px;
        right: 0px;
        transition-property: border-width;
        transition-duration: 200ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.23, 1);
        box-sizing: border-box;
        background: var(--activeText);
        top: 6px;
    }

.RadioButton span[b-71z8yk4py0] {
    display: inline-block;
    padding-left: 26px;
}
/* _content/Bergsoft.Blazor/RatingBar.razor.rz.scp.css */
.RatingBarBase[b-c2apfkw303] {
    align-items: center;
    display: inline-flex;
}

    .RatingBarBase button[b-c2apfkw303] {
        align-items: center;
        display: flex;
        padding: 0;
        background: inherit;
        border: 0;
    }

        .RatingBarBase button:hover[b-c2apfkw303] {
            cursor: pointer;
            transform: scale(110%);
        }
/* _content/Bergsoft.Blazor/SearchBox.razor.rz.scp.css */
.SearchBoxBase[b-p46o6evqzg] {
}

.SearchBoxBase[b-p46o6evqzg] {
    position: relative;
}

    .SearchBoxBase input[b-p46o6evqzg] {
        background: none;
        border: 0;
        color: var(--content);
        font-size: inherit;
        outline: none;
        padding: 0 0 0 10px;
        width: 100%;
    }

.SearchResults[b-p46o6evqzg] {
    display: flex;
    flex-direction: column;
    padding: var(--spacing);
}

.SearchResult[b-p46o6evqzg] {
    align-items: center;
    border-radius: var(--borderRadius);
    cursor: default;
    display: flex;
    gap: var(--spacing);
    padding: var(--spacing);
}

    .SearchResult:hover[b-p46o6evqzg] {
        background-color: var(--surface, silver);
    }

    .SearchResult.Selected[b-p46o6evqzg] {
        background: var(--selection, blue);
    }
/* _content/Bergsoft.Blazor/SlidePanel.razor.rz.scp.css */
.SlidePanel[b-tejhzdwlht] {
    --fallback-neutralLight: #f0f0f0;
    --headerHeight: 32px;
    --headerFontSize: 14px;
}

.SlidePanelHeader[b-tejhzdwlht] {
    align-items: center;
    border-radius: var(--borderRadius);
    cursor: pointer;
    display: flex;
    height: var(--headerHeight, 32px);
    user-select: none;
    -webkit-user-select: none;
}

    .SlidePanelHeader.HeaderHotTrack:hover[b-tejhzdwlht] {
        background: var(--surface, silver);
    }

.SlidePanelHeader > h3[b-tejhzdwlht] {
    margin: 0 8px;
    font-size: var(--fontSize, 12px);
    font-weight: 500;
}

    .SlidePanelHeader > button[b-tejhzdwlht] {
        background: none;
        border: 0;
        cursor: pointer;
        margin-left: var(--spacingL, 8px)
    }

    .SlidePanelHeader > button svg[b-tejhzdwlht] {
        fill: var(--content);
        transform: rotate(0deg);
        transition-duration: 0.2s;
        transition-property: transform;
    }

    .SlidePanelHeader.IsExpanded > button svg[b-tejhzdwlht] {
        transform: rotate(90deg);
    }

.SlidePanelContent[b-tejhzdwlht] {
    --indentationFallback: 8px;
}

    .SlidePanelContent.LeftIndentation[b-tejhzdwlht] { padding-left: var(--spacing-l, --indentationFallback); }
    .SlidePanelContent.TopIndentation[b-tejhzdwlht] { padding-top: var(--spacing-l, --indentationFallback); }
/* _content/Bergsoft.Blazor/SpinButton.razor.rz.scp.css */
.SpinButton[b-l4pvn9uqlk] {
    background: inherit;
    border: 0;
    cursor: pointer;
    flex-shrink: 0;
    padding: 0;
    width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .SpinButton[b-l4pvn9uqlk] {
        fill: var(--content);
    }

    .SpinButton.Condensed[b-l4pvn9uqlk] {
        width: 16px;
    }

    .SpinButton:hover[b-l4pvn9uqlk] {
        background: var(--secondarySurface, lightgray);
    }

    .SpinButton:active[b-l4pvn9uqlk] {
        background: var(--neutralLighter, gray);
    }

        .SpinButton:hover:active[b-l4pvn9uqlk] {
            background: var(--tertiarySurface, darkgray);
        }
/* _content/Bergsoft.Blazor/SpinTextBox.razor.rz.scp.css */
.SpinTextBox[b-63br0w1xnb] {
    display: inline-flex;
    align-items: stretch;
}

.Prefix[b-63br0w1xnb] {
    margin-right: -12px;
}

.Prefix[b-63br0w1xnb],
.Suffix[b-63br0w1xnb] {
    display: flex;
    align-items: center;
    opacity: .5;
    padding: 0 var(--spacingLarge, 6px);
}

.SpinButtons[b-63br0w1xnb] { display: none }

.SpinTextBox:focus .SpinButtons[b-63br0w1xnb],
.SpinTextBox:focus-within .SpinButtons[b-63br0w1xnb] {
    display: flex;
}

    .SpinButtons.SideBySide[b-63br0w1xnb] { flex-direction: row; }
    .SpinButtons.Vertical[b-63br0w1xnb] { flex-direction: column-reverse; }
/* _content/Bergsoft.Blazor/Splitter.razor.rz.scp.css */
.Splitter[b-926fq35are] {
    --fallback-neutralTertiaryAlt: #e0e0e0;
}

.Splitter[b-926fq35are] {
    cursor: ns-resize;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
}

    .Splitter:hover[b-926fq35are] {
        background: var(--neutralTertiaryAlt, --fallback-neutralTertiaryAlt);
    }

.Splitter:not(.vertical) svg[b-926fq35are] {
    height: 5px;
}

    .Splitter.vertical[b-926fq35are] {
        cursor: ew-resize;
    }

    .Splitter.vertical svg[b-926fq35are] {
        min-width: 20px;
        min-height: 5px;
        transform: rotate(90deg);
    }

.Splitter:hover[b-926fq35are] {  }

    .Splitter:hover svg path[b-926fq35are] {
        transition: all, ease-in-out, 0.5s;
    }

.Splitter svg path[b-926fq35are] { fill: #b5b5b5; }

    .Splitter:hover svg[b-926fq35are] { }

    .Splitter:hover svg path[b-926fq35are] {
        fill: #444;
    }

    .Splitter.dragging:hover[b-926fq35are] {
        background: yellow;
    }
/* _content/Bergsoft.Blazor/StepsBar.razor.rz.scp.css */
.StepsBarBase[b-bb9bgwudpb] {
    display: flex;
    justify-content: space-between;
    --inactveColor: var(--surface);
}

.StepsBar[b-bb9bgwudpb] {
    gap: 4px;
    height: 4px;
}

.StepBase[b-bb9bgwudpb] {
    background: none;
    border: 0;
    flex-grow: 1;
}

.Step[b-bb9bgwudpb] {
    background: var(--inactveColor);
    border-radius: 100vh;
}

    .Step.CanClick[b-bb9bgwudpb] { cursor: pointer; }
    .Step.CanClick:hover[b-bb9bgwudpb] {
        opacity: 0.5;
    }

    .Step.Active[b-bb9bgwudpb] {
        background-color: var(--focusBorder);
    }

        .Step.Active.Yolk[b-bb9bgwudpb] {
            background: #fcc902;
        }

        .Step.Active.Fire[b-bb9bgwudpb] {
            background: linear-gradient(to right, #ff6d00, #ffe200);
        }

        .Step.Active.Marine[b-bb9bgwudpb] {
            background: linear-gradient(to right, #00b48a, #49daff);
        }

        .Step.Active.Acid[b-bb9bgwudpb] {
            background: linear-gradient(to right, #00d031, #e0ff42);
        }

.Step.Active.Horizon[b-bb9bgwudpb] {
    background: linear-gradient(to right, #f7c91e, #fb7f27, #f62df7, #00ffe7);
}

@keyframes gradientAnimation-b-bb9bgwudpb {
    0% {
        background-position-x: 0%;
    }

    50% {
        background-position-x: 50%;
    }

    100% {
        background-position-x: 100%;
    }
}
/*
.Step.Last {
    animation: gradientAnimation 5s ease infinite;
    background-size: 300%;
    background: linear-gradient(to right, var(--activeColor), var(--inactiveColor));
}*/
/* _content/Bergsoft.Blazor/StepsList.razor.rz.scp.css */
.StepsListBase[b-vimtk5jzew] {
    display: flex;
    flex-direction: column;
}

.ItemBase[b-vimtk5jzew] {
    border: 0;
    background: none;
    outline: none;
}

.Item[b-vimtk5jzew] {
    align-items: stretch;
    color: var(--content);
    display: flex;
    gap: 8px;
    padding: 0 var(--spacing-l);
}

.Item.CanChange:hover[b-vimtk5jzew] {
    background: var(--surface);
    cursor: pointer;
}

.Item svg[b-vimtk5jzew] {
    fill: var(--content);
    transition: transform linear 0.25s;
}

    .Item.Active svg[b-vimtk5jzew] {
        fill: var(--primary);
    }

    .Item svg.bulletPoint circle[b-vimtk5jzew] {
        transition: transform linear 0.25s;
        transform: scale(.75);
    }

    .Item.Active svg.bulletPoint circle[b-vimtk5jzew] {
        transform: scale(1);
    }

    .line[b-vimtk5jzew] {
        width: 6px;
        transition: all ease-out 0.25s;
        border-left: 2px solid var(--focusBorder);
        opacity: .25;
    }

    .Item.Active .line[b-vimtk5jzew] {
        opacity: 1;
    }

.ContentBase[b-vimtk5jzew] {
    flex: 1;
    text-align: left;
}

.Content[b-vimtk5jzew] {
    padding: var(--spacing-l) 0;
}
/* _content/Bergsoft.Blazor/TagsBar.razor.rz.scp.css */
.TagsBar[b-83wsfl84fd] {
    --tagsSpacing: 1px;
}

.TagsBar[b-83wsfl84fd] {
    display: inline-flex;
    gap: var(--tagsSpacing);
    padding: 1px;
    user-select: none;
    -webkit-user-select: none;
}

    .TagsBar .BaseTag[b-83wsfl84fd] {
        cursor: default;
        text-decoration: none;
        display: flex;
        align-items: center;
    }

    .TagsBar .Tag[b-83wsfl84fd] {
        background: var(--surface, silver);
        padding: 0 4px;
    }

.Tag.Rectangle[b-83wsfl84fd] {
    border-radius: 0;
}

.Tag.RoundCorners[b-83wsfl84fd] {
    border-radius: 2px;
}

.Tag.PillShape[b-83wsfl84fd] {
    border-radius: 50vh;
    padding: 0 8px;
}

.Tag:hover[b-83wsfl84fd] {

}

.TagsBar .Tag.Selected[b-83wsfl84fd] {
    background: var(--selection, lightblue);
}
/* _content/Bergsoft.Blazor/TextBox.razor.rz.scp.css */
.ClearButton[b-i7v72m661x] {
    background: none;
    border: 0;
    cursor: pointer;
    flex-shrink: 0;
    outline: none;
    padding: 0;
    stroke: var(--content, #000);
    stroke-width: 1px;
    padding: 0 10px 0 0;
}
/* _content/Bergsoft.Blazor/Toast.razor.rz.scp.css */
.BaseToast[b-tlmgdm93g1] {
    --fallback-neutralLight: #f0f0f0;
    --fallback-borderRadiusMedium: 4px;
}

.BaseToast[b-tlmgdm93g1] {
    background: var(--neutralLight, var(--fallback-neutralLight));
    border-radius: var(--borderRadiusMedium, var(--fallback-borderRadiusMedium));
    padding: 8px;
    position: absolute;
    right: 40px;
    width: 200px;
}

    .BaseToast h2[b-tlmgdm93g1] {
        margin: 0;
    }
/* _content/Bergsoft.Blazor/Toggle.razor.rz.scp.css */
.ToggleBase[b-h0sf6tf1dh] {
    display: inline-block;
    position: relative;
}

    .ToggleBase.IsChecked[b-h0sf6tf1dh] {
    }

.Toggle[b-h0sf6tf1dh] {
    border: none;
    background: var(--surface);
    border-radius: 100vh;
    cursor: pointer;
    overflow: clip;
    padding: 2px;
    transition: outline ease-out 0.05s, background ease-out .15s;
    width: 42px;
}

    .Toggle.IsChecked[b-h0sf6tf1dh] {
        border: none;
        background: var(--active, blue);
    }

    .Toggle:focus[b-h0sf6tf1dh] {
        outline-offset: 1px;
        outline: 2px solid var(--focusBorder);
    }

    .ChildContent[b-h0sf6tf1dh] {
        display: flex;
        justify-content: end;
        align-items: center;
        padding: 0 4px;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 0;
    }

    .Toggle.IsChecked .ChildContent[b-h0sf6tf1dh] {
        justify-content: start;
    }

.Knob[b-h0sf6tf1dh] {
    background: var(--activeText, #fff);
    border-radius: 9px;
    height: 18px;
    width: 18px;
    transition: transform ease-out .1s;
    transform: translateX(0);
    z-index: 1;
}

.Toggle.IsChecked .Knob[b-h0sf6tf1dh] {
    transform: translateX(20px);
}
/* _content/Bergsoft.Blazor/Toolbar.razor.rz.scp.css */
.ToolbarBase[b-lmf2y2eja1] {
    display: flex;
    align-items: center;
}
/* _content/Bergsoft.Blazor/ToolButton.razor.rz.scp.css */
.ToolButtonBase[b-1jvj2s91w2] {
    background: none;
    border: 0;
    display: inline-flex;
    outline: none;
}

.ToolButton[b-1jvj2s91w2] {
    align-items: center;
    border-radius: var(--borderRadiusLarge, 8px);
    color: var(--content);
    cursor: pointer;
    font-size: var(--fontSize);
    fill: var(--content);
    justify-content: center;
}

    .ToolButton.spacingTight[b-1jvj2s91w2] {
        padding: var(--spacing, 4px);
    }

    .ToolButton.spacingSpacious[b-1jvj2s91w2] {
        padding: var(--spacingLarge, 8px);
    }

    .ToolButton:hover[b-1jvj2s91w2] {
        background: var(--secondarySurface, lightgray);
    }

    .ToolButton:active[b-1jvj2s91w2] {
        background: var(--tertiarySurface, darkgray);
    }

    .ToolButton.borderSolid:hover[b-1jvj2s91w2] {
        border: 1px solid var(--borderColorHover, #f6f8fa);
    }

    .ToolButton.Inplace[b-1jvj2s91w2] {
        margin: var(--spacing-s);
    }

    .ToolButton.Scale[b-1jvj2s91w2] {
        transition: transform 0.2s ease;
    }

    .ToolButton:hover.Scale[b-1jvj2s91w2] {
        transform: scale(1.2);
    }

    .ToolButton.Bounce[b-1jvj2s91w2] {
        transition: transform 0.2s ease;
    }

    .ToolButton:hover.Bounce[b-1jvj2s91w2] {
        animation: bounce-b-1jvj2s91w2 0.75s ease;
    }

    .ToolButton.FadeIn[b-1jvj2s91w2] {
        transition: opacity 0.2s ease;
        opacity: 0.5;
    }

    .ToolButton:hover.FadeIn[b-1jvj2s91w2] {
        opacity: 1;
    }

    .ToolButton.Saturation[b-1jvj2s91w2] {
        filter: grayscale(100%);
        transition: filter 0.2s ease-in-out;
    }

    .ToolButton:hover.Saturation[b-1jvj2s91w2] {
        filter: grayscale(0%);
    }

    .ToolButton:hover.Danger[b-1jvj2s91w2] {
        color: var(--dangerContent);
        fill: var(--dangerContent);
        background: var(--dangerSurface);
    }

    .ToolButton:hover.Success[b-1jvj2s91w2] {
        color: var(--successContent);
        fill: var(--successContent);
        background: var(--successSurface);
    }

@keyframes bounce-b-1jvj2s91w2 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    75% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1.1);
    }
}
/* _content/Bergsoft.Blazor/ToolDivider.razor.rz.scp.css */
.ToolDivider[b-qb6i9d23ep] {
    fill: var(--textColor);
    padding: .5em;
    display: flex;
    align-items: center;
    opacity: .25;
}
/* _content/Bergsoft.Blazor/Tooltip.razor.rz.scp.css */
.TooltipContainer[b-60dfivcgdc] {
    --fallback-borderRadiusSmall: 2px;
    --fallback-borderRadiusMedium: 4px;
    --beakSize: 12px;
    position: relative;
    display: inline-block;
}

    .TooltipContainer .ChildContent[b-60dfivcgdc] {
        cursor: pointer;
    }

.TooltipBase[b-60dfivcgdc] {
    visibility: hidden;
    position: absolute;
    z-index: 90000;
    opacity: 0;
    top: 100%;
    margin-top: 4px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

    .BeakBase[b-60dfivcgdc] {
        width: var(--beakSize, 12px);
        height: var(--beakSize, 12px);
        position: absolute;
        z-index: 15000;
        box-shadow: inherit;
        transform: rotate(45deg);
        left: 50%;
        top: 0;
    }

    .Beak[b-60dfivcgdc] {
        background: inherit;
        border-radius: var(--borderRadiusSmall, var(--fallback-borderRadiusSmall));
    }

.Tooltip[b-60dfivcgdc] {
    background: var(--active, #000);
    color: var(--activeText, #fff);
    padding: 6px var(--borderRadiusXL, 12px);
    border-radius: var(--borderRadiusXL, 12px);
    z-index: 20000;
    font-size: var(--fontSizeXS, 10px);
    font-weight: 400;
}

    .Tooltip header[b-60dfivcgdc] {
        font-size: var(--fontSizeS, 11px);
        font-weight: 500;
    }

    .Separator[b-60dfivcgdc] {
        border-bottom: 1px solid var(--actionText, #fff);
        margin: var(--borderRadiusMedium, var(--fallback-borderRadiusMedium)) 0;
        opacity: .35;
    }

.TooltipContainer:hover .TooltipBase[b-60dfivcgdc] {
    visibility: visible;
    opacity: 1;
}
/* _content/Bergsoft.Blazor/TrackBar.razor.rz.scp.css */
.Slide[b-3qt8pi3ylh] {
    border-radius: calc(var(--borderRadiusM, 3px) / 2);
    background-color: var(--surface, #f6f8fa);
    height: var(--borderRadiusM, 6px);
    min-width: 48px;
    position: static;
}

.Knob[b-3qt8pi3ylh] {
    position: relative;
    width: 12px;
    height: 12px;
    background-color: var(--content, black);
    border-radius: 50%;
    transition: transform 0.3s ease;
    top: -5px;
    margin-left: -6px;
}

    .Knob:hover[b-3qt8pi3ylh] {
        background-color: var(--active, #f2f2f2);
    }

.Progress[b-3qt8pi3ylh] {
    position: relative;
    left: 2px;
    top: 2px;
    background: #137D67;
    border-radius: 1px;
    height: 2px;
}

.Slide:focus[b-3qt8pi3ylh] {
    outline: none;
}

.Slide:focus .Knob[b-3qt8pi3ylh],
.Slide:focus-within .Knob[b-3qt8pi3ylh] {
    outline-offset: 1px;
    outline: 2px solid var(--focusBorder, blue);
}
