/* _content/Bergsoft.Blazor/Accordion.razor.rz.scp.css */
.Accordion[b-h0hhon5cgq] {
}

    .Accordion > header[b-h0hhon5cgq] {
        align-items: center;
        border-radius: var(--border-radius-sm, 4px);
        cursor: pointer;
        display: flex;
        height: var(--headerHeight, 32px);
        user-select: none;
        -webkit-user-select: none;
    }

    .Accordion > header[b-h0hhon5cgq] {
    }

        .Accordion > header > h4[b-h0hhon5cgq] {
            margin: 0 8px;
            font-weight: 400;
        }

        .Accordion > header > button[b-h0hhon5cgq] {
            background: none;
            border: 0;
            cursor: pointer;
            margin-left: var(--spacing-md, 8px)
        }

            .Accordion > header > button svg[b-h0hhon5cgq] {
                fill: var(--content);
                transform: rotate(0deg);
                transition-duration: 0.2s;
                transition-property: transform;
            }

        .Accordion > header.IsExpanded > button svg[b-h0hhon5cgq] {
            transform: rotate(90deg);
        }

    .Accordion > section.LeftIndentation[b-h0hhon5cgq] {
        padding-left: var(--spacing-md, 8px);
    }

    .Accordion > section.TopIndentation[b-h0hhon5cgq] {
        padding-top: var(--spacing-md, 8px);
    }
/* _content/Bergsoft.Blazor/Breadcrumbs.razor.rz.scp.css */
.Breadcrumbs[b-bnfqpoyupt] {
    display: flex;
}

    .Breadcrumbs button[b-bnfqpoyupt] {
        background: none;
        border: none;
        padding: 4px var(--spacing-md, 8px);
        align-items: center;
        border-radius: var(--border-radius-md, 6px);
        color: var(--content, black);
        cursor: pointer;
        display: flex;
        flex-shrink: 0;
        justify-content: center;
        min-height: 2rem;
    }

    .Breadcrumbs button:hover[b-bnfqpoyupt] {
        background: var(--surface-hover, whitesmoke);
    }

        .Breadcrumbs button:active[b-bnfqpoyupt] {
            background: var(--surface, lightgray);
        }

        .Breadcrumbs button.Separator[b-bnfqpoyupt] {
        }
/* _content/Bergsoft.Blazor/Button.razor.rz.scp.css */
.ButtonBase[b-hbkr7rl37x] {
    align-items: center;
    border: 2px solid transparent;
    display: inline-flex;
    gap: 4px;
    justify-content: center;
    user-select: none;
}

.Button[b-hbkr7rl37x] {
    transition: outline ease-out 0.1s;
}

.Button[b-hbkr7rl37x] {
    background-color: var(--surface-hover, lightgray);
    cursor: pointer;
    color: var(--content, black);
    font-size: inherit;
    font-weight: 500;
    height: 32px;
    padding: 0 24px;
}

    .Button.roundCorners[b-hbkr7rl37x] {
        border-radius: var(--border-radius-lg, 6px);
    }

    .Button.pill[b-hbkr7rl37x] {
        border-radius: 100vh;
    }

    @property --start-angle {
        syntax: '<angle>';
        inherits: false;
        initial-value: 0deg;
    }

    @keyframes spin-b-hbkr7rl37x {
        from {
            --start-angle: 0deg;
        }

        to {
            --start-angle: 360deg;
        }
    }

.Button.gradientBorder[b-hbkr7rl37x] {
    border-radius: 100vh;
    border: 2px solid transparent;
    background: linear-gradient(var(--background, canvas), var(--background, canvas)) padding-box,
        conic-gradient(from var(--start-angle), #f7c91e, #fb7f27, #f62df7, #00ffe7, #f7c91e) border-box;
    animation: spin-b-hbkr7rl37x 8s linear infinite;
}

    .Button:active[b-hbkr7rl37x] {
        background: var(--surface-active, lightgray);
    }

    .Button:focus:not(:disabled)[b-hbkr7rl37x],
    .Button:focus-within:not(:disabled)[b-hbkr7rl37x] {
        outline-offset: var(--state-focus-border-offset, 0);
        outline: var(--state-focus-border-size, 2px) solid var(--state-focus-border, dodgerblue);
    }

    .Button.sizePresetWide[b-hbkr7rl37x] {
        padding: 0 32px;
    }

    .Button:disabled[b-hbkr7rl37x] {
        background: var(--neutralLighter, var(--fallback-neutralLighter));
        color: graytext;
        cursor: default;
    }

    .Button:hover:not(:disabled)[b-hbkr7rl37x] {
    }

    .Button:active:hover:not(:disabled)[b-hbkr7rl37x] {
    }

    .Button.IsChecked[b-hbkr7rl37x] {
        border: 2px solid var(--grid-lines, silver);
    }

    .Button.Rounded[b-hbkr7rl37x] {
        align-items: center;
        border: 0;
        flex-direction: column;
        justify-content: center;
        border-radius: 1000vh;
    }

    .Button.Primary[b-hbkr7rl37x] {
        background-color: var(--content, black);
        color: var(--content-inverted, white);
    }

        .Button.Primary:hover[b-hbkr7rl37x] {
        }

        .Button.Primary:active:is(:hover)[b-hbkr7rl37x] {
        }
/* _content/Bergsoft.Blazor/ButtonTextBox.razor.rz.scp.css */
.ButtonTextBoxBase[b-v87jg2ec2x] {
    display: inline-flex;
}

    .ButtonTextBoxBase.Inplace[b-v87jg2ec2x] {
        border: 0;
        padding: 0 0 0 6px;
        font: inherit;
        width: 100%;
        height: 100%;
    }

.ButtonTextBox:not(.Inplace)[b-v87jg2ec2x] {
    padding-left: 4px;
    border: 1px solid #D1D1D1;
    min-height: 26px;
}
/* _content/Bergsoft.Blazor/Callout.razor.rz.scp.css */
.CalloutBase[b-2sht7hl0k3] {
    --beakSize: 18px;
    --offsetX: 0;
    --offsetY: 9px;
    position: absolute;
    z-index: 1004;
}

.CalloutBase.AnchorLocationLeft[b-2sht7hl0k3] {
    top: -9px;
    left: 100%;
}

    .CalloutBase.AnchorLocationTop[b-2sht7hl0k3] {
        top: 100%;
        left: 0;
        transform: translate(0, 9px);
    }

.Callout[b-2sht7hl0k3] {
    background: var(--surface, gainsboro);
    border-radius: 2px;
    min-width: 100px;
    min-height: 100px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px 0px;
}

.CalloutContent[b-2sht7hl0k3] {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: inherit;
    padding: 16px
}

.Beak[b-2sht7hl0k3] {
    background: var(--surface, gainsboro);
    position: absolute;
    width: var(--beakSize, 18px);
    height: var(--beakSize, 18px);
    box-shadow: inherit;
    transform: rotate(45deg);
}

    .Beak.AnchorLocationTop[b-2sht7hl0k3] {
        left: 20px;
        top: -9px;
    }

    .Beak.AnchorLocationLeft[b-2sht7hl0k3] {
        transform: translateX(-9px) translateY(18px) rotate(45deg);
    }
/* _content/Bergsoft.Blazor/CheckBox.razor.rz.scp.css */
.CheckBox[b-8dyxggztvc] {
    align-items: center;
    display: inline-flex;
    gap: var(--spacing-md, 8px);
    cursor: pointer;
    user-select: none;
}

.CheckBox input[type="checkbox"][b-8dyxggztvc] {
    display: none;
}

    .CheckBox .checkmark[b-8dyxggztvc] {
        position: relative;
        display: block;
        width: 20px;
        height: 20px;
        background-color: var(--surface-hover, whitesmoke);
        transition: outline ease-out 0.1s, background ease-out 0.1s;
    }

    .CheckBox input[type="checkbox"]:checked + .checkmark[b-8dyxggztvc] {
        background: var(--state-focus-border, dodgerblue);
    }


    .CheckBox.checkBoxKindSquare .checkmark[b-8dyxggztvc] {
        border-radius: var(--border-radius-md, 4px);
    }

    .CheckBox.checkBoxKindCircle .checkmark[b-8dyxggztvc] {
        border-radius: 10px;
    }

    .CheckBox:focus
    .checkmark[b-8dyxggztvc] {
        outline-offset: var(--state-focus-border-offset, 0);
        outline: var(--state-focus-border-size, 2px) solid var(--state-focus-border, dodgerblue);
    }

        .CheckBox:hover .checkmark[b-8dyxggztvc] {
        }

        .CheckBox:hover .checkmark[b-8dyxggztvc]::after {
            display: block;
        }


    .CheckBox input[type="checkbox"]:checked + .checkmark[b-8dyxggztvc] {

    }

    .CheckBox:hover input[type="checkbox"]:checked + .checkmark[b-8dyxggztvc] {
        /* hover */
    }

    .CheckBox input[type="checkbox"]:checked + .checkmark[b-8dyxggztvc]:after {
        content: "";
        position: absolute;
        display: none;
        left: 7.5px;
        top: 4.5px;
        width: 5px;
        height: 9px;
        border: solid var(--active, white);
        border-width: 0 1.5px 1.5px 0;
        transform: rotate(42deg);
    }

.CheckBox input[type="checkbox"]:checked + .checkmark[b-8dyxggztvc]:after {
    display: block;
}
/* _content/Bergsoft.Blazor/ColorPalette.razor.rz.scp.css */
.ColorPalette[b-1p5oln8qd3] {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}

    .ColorPalette.vertical[b-1p5oln8qd3] {
        flex-direction: column;
    }

.ColorPalette svg[b-1p5oln8qd3] {
    cursor: pointer;
    transition: transform ease-out .25s;
}

    .ColorPalette svg:hover[b-1p5oln8qd3] {
        transform: scale(1.25);
    }
/* _content/Bergsoft.Blazor/ColorSelector.razor.rz.scp.css */
.ColorSelector[b-ba02ncin78] {
}

    /* Base colors */
    .ColorSelector > header[b-ba02ncin78] {
        display: flex;
        gap: var(--size-lg, 12px);
    }

    /* Color palettes */
    .ColorSelector > section[b-ba02ncin78] {
        padding-top: var(--size-lg, 12px);
        display: flex;
        gap: 4px;
    }
/* _content/Bergsoft.Blazor/DatePicker.razor.rz.scp.css */
.DatePickerBase[b-jpuuq9fc0j] {
    display: inline-flex;
    position: relative;
}

.DatePicker > button[b-jpuuq9fc0j] {
    border: 0;
    background: inherit;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    fill: var(--content, black);
}

        .DatePicker > button:hover[b-jpuuq9fc0j] {  }

        .Buttons[b-jpuuq9fc0j] {
            display: flex;
            justify-content: center;
            margin-bottom: 12px;
        }

.DatePickerPanel[b-jpuuq9fc0j] {
    padding: var(--spacing-xl, 12px);
}

/* _content/Bergsoft.Blazor/DateSelector.razor.rz.scp.css */
.DateSelector[b-39l4o5tvsz] {
    --daySize: 28px;
    display: inline-flex;
    flex-direction: column;
    user-select: none;
}

    .DateSelector header[b-39l4o5tvsz] {
        align-items: center;
        display: flex;
        height: var(--daySize, 28);
        margin-bottom: var(--spacing, 4px);
    }

        .DateSelector header h2[b-39l4o5tvsz] {
            margin: 0;
            padding: 0;
            font-size: 14px;
            font-weight: 600;
            padding-left: 10px;
            flex: 1;
        }

        .DateSelector header button[b-39l4o5tvsz] {
            background: inherit;
            border: 0;
            border-radius: var(--border-radius-sm, 3px);
            cursor: pointer;
            height: var(--daySize, 28);
            width: var(--daySize, 28);
        }

            .DateSelector header button:hover[b-39l4o5tvsz] {
                background: var(--surface, gainsboro);
            }

            .DateSelector header button:active[b-39l4o5tvsz] {
                background: var(--surface-hover, whitesmoke);
            }

            .DateSelector header button:hover:active[b-39l4o5tvsz] {
                background: var(--surface-active, lightgray);
            }

    .DateSelector .WeekDays[b-39l4o5tvsz] {
        display: flex;
    }

        .DateSelector .WeekDays > div[b-39l4o5tvsz] {
            text-align: center;
            line-height: var(--daySize, 28);
            height: var(--daySize, 28);
            width: var(--daySize, 28);
        }

    .DateSelector .Week[b-39l4o5tvsz] {
        display: flex;
    }

        .DateSelector .Week .Day[b-39l4o5tvsz] {
            border-radius: var(--border-radius-sm, 4px);
            cursor: pointer;
            text-align: center;
            height: var(--daySize, 28);
            width: var(--daySize, 28);
            line-height: var(--daySize, 28);
        }

            .DateSelector .Week .Day:hover:not(:active)[b-39l4o5tvsz] {
                background: var(--surface, gainsboro);
            }

    .DateSelector .Day:active[b-39l4o5tvsz] {
        background-color: var(--surface-hover, lightgray);
    }

    .DateSelector .Day:hover:active[b-39l4o5tvsz] {
        background-color: var(--surface-active, darkgray);
    }

    .DateSelector .Today[b-39l4o5tvsz] {
        background: var(--state-focus-border, dodgerblue);
        color: var(--content-inverted, white);
        display: block;
        height: 100%;
        border-radius: 100%;
    }

.outsideMonth[b-39l4o5tvsz] {
    color: silver;
}

.selectedDay[b-39l4o5tvsz] {
    background: var(--state-selection-bg, lightblue);
}
/* _content/Bergsoft.Blazor/Dialog/Dialog.razor.rz.scp.css */
.DialogBase.Compact[b-hmn2hq7i0n] {
    width: 320px;
    height: 160px;
}

    .DialogBase.Medium[b-hmn2hq7i0n] {
        width: 400px;
        height: 200px;
    }

    .DialogBase.Standard[b-hmn2hq7i0n] {
        width: 480px;
        height: 320px;
    }

.Dialog[b-hmn2hq7i0n] {
    background: var(--surface-hover, white);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    position: absolute;
    box-shadow: rgb(0 0 0 / 22%) 0px 25.6px 57.6px 0px, rgb(0 0 0 / 18%) 0px 4.8px 14.4px 0px;
    max-height: calc(100% - 40px);
    max-width: calc(100% - 40px);
}

    .Dialog header[b-hmn2hq7i0n] {
        border-radius: 4px 4px 0 0;
        color: var(--content);
        display: flex;
        font-size: 16px;
        font-weight: 600;
        height: 44px;
        padding: 0 20px;
        align-items: center;
        justify-content: space-between;
        user-select: none;
    }

    .Dialog header button[b-hmn2hq7i0n] {
        padding: 8px;
    }

.DialogTitleBarBase[b-hmn2hq7i0n] {
    flex: 1;
    height: 100%;
}

    .DialogTitleBarBase.Moving[b-hmn2hq7i0n] {
        cursor: move;
    }

.DialogTitleBar[b-hmn2hq7i0n] {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .Dialog footer[b-hmn2hq7i0n] {
        display: flex;
        margin-top: auto;
        gap: 10px;
        height: 44px;
        padding: 0 20px;
        justify-content: flex-end;
        user-select: none;
    }

    .Dialog .content[b-hmn2hq7i0n] {
        padding: 20px;
    }

    .Dialog .CloseButton[b-hmn2hq7i0n] {
        margin-left: auto;
        background: inherit;
        border: 0;
        outline: none;
    }

.DialogBehind[b-hmn2hq7i0n] {
    background: var(--blackTranslucent40);
    display: flex;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 200;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.open[b-hmn2hq7i0n] {
    display: flex;
}

.closed[b-hmn2hq7i0n] {
    display: none;
}
/* _content/Bergsoft.Blazor/DropDownList.razor.rz.scp.css */
.DropDownButton[b-8g2tpk3fjy] {
}

.DropDownButton[b-8g2tpk3fjy] {
    display: inline-flex;
    position: relative;
    align-items: center;
    background: inherit;
    border: 0;
    color: var(--content);
    cursor: pointer;
    font: inherit;
    fill: var(--content);
}

    .DropDownButton:focus[b-8g2tpk3fjy] {
        outline: none;
    }

    .DropDownButton.Condensed[b-8g2tpk3fjy] {
        padding: 2px 4px;
    }

    .DropDownButton:not(.Condensed)[b-8g2tpk3fjy] {
        padding: 6px 8px;
    }

    .DropDownButton:not(.Inplace)[b-8g2tpk3fjy] {
        border-radius: var(--border-radius-sm, 4px);
        min-width: 21px;
        min-height: 21px;
    }

    .DropDownButton.Inplace[b-8g2tpk3fjy] {
        width: 100%;
        height: 100%;
        padding: 0 6px;
        justify-content: space-between;
    }

    .DropDownButton footer[b-8g2tpk3fjy] {
        display: flex;
        border-top: 1px solid var(--buttonHover);
        padding: 4px;
    }

    .DropDownButton:hover[b-8g2tpk3fjy] {
        background: var(--surface, silver);
    }

    .DropDownButton.isOpen[b-8g2tpk3fjy] {
        background: var(--surface-active, darkgray);
    }

.DropDownList[b-8g2tpk3fjy] {
    min-width: 200px;
    min-height: 100px;
    background: #fff;
    position: absolute;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.133) 0px 3.2px 7.2px 0px, rgba(0, 0, 0, 0.11) 0px 0.6px 1.8px 0px;
    z-index: 1000;
}

.Item[b-8g2tpk3fjy] {
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    gap: 4px;
    min-height: 32px;
    padding: 0 8px;
}

    .Item:active[b-8g2tpk3fjy] {
        background: var(--state-selection-bg, lightblue);
    }

    .Item:hover[b-8g2tpk3fjy] {
        background: var(--surface, silver);
    }

    .Item.Selected:not(:hover)[b-8g2tpk3fjy] {
        background: var(--state-selection-bg, lightblue);
    }
/* _content/Bergsoft.Blazor/DropPanel.razor.rz.scp.css */
.DropPanel[b-5z14ynwimv] {
    background: var(--surface, gainsboro);
    cursor: default;
    left: 0;
    opacity: 0;
    top: 100%;
    position: absolute;
    transition: opacity 0.15s ease-in-out;
    z-index: 2000;
}

    .DropPanel.Border[b-5z14ynwimv] { border: 1px solid var(--grid-lines, silver); }

    .DropPanel.RoundCorners[b-5z14ynwimv] {
        border-radius: var(--border-radius-md, 6px);
    }

    .DropPanel.DropShadow[b-5z14ynwimv] {
        box-shadow: 4px 4px 12px rgba(3, 7, 18, 0.06);
    }

    .DropPanel.IsOpen[b-5z14ynwimv] { opacity: 1; }

    .DropPanel.AddPadding[b-5z14ynwimv] {
        padding: var(--spacing-md, 8px);
    }
/* _content/Bergsoft.Blazor/IconPanel.razor.rz.scp.css */
.IconPanel[b-jgpb7gxk7b] {
    display: flex;
    gap: 8px;
}

.IconPanel svg[b-jgpb7gxk7b] {
    fill: var(--content);
}

.IconPanel aside[b-jgpb7gxk7b] {
    padding-top: 4px;
}

.IconPanel h2[b-jgpb7gxk7b] {
    margin: 0 0 4px 0;
}
/* _content/Bergsoft.Blazor/Image.razor.rz.scp.css */
.BaseImage[b-a9pqu80cgh] {
    height: 100%;
}

.RoundCorners[b-a9pqu80cgh] {
    border-radius: 4px;
}
/* _content/Bergsoft.Blazor/InplaceInput.razor.rz.scp.css */
.InplaceInput[b-0pmldavs0u] {
    background: none;
    border: 0;
    color: var(--content, inherit);
    font-size: inherit;
    width: 100%;
    outline: none;
    padding: 6px 0 6px 6px;
    line-height: 1em;
}

    .InplaceInput.Inplace[b-0pmldavs0u] {
        padding: 0 0 0 6px;        
    }
/* _content/Bergsoft.Blazor/InplaceTextArea.razor.rz.scp.css */
.InplaceTextArea[b-6q6gy4xqe5] {
    background: none;
    border: 0;
    color: var(--content, inherit);
    font-size: inherit;
    width: 100%;
    outline: none;
    padding: 6px 0 6px 6px;
    resize: none;
    line-height: 1.5em;
}

    .InplaceTextArea.Inplace[b-6q6gy4xqe5] {
        padding: 0 0 0 6px;
    }
/* _content/Bergsoft.Blazor/InputButton.razor.rz.scp.css */
.InputButtonBase[b-b4aqhhf9rd] {
    background: none;
    border: 0;
    display: flex;
    outline: none;
}

.InputButton[b-b4aqhhf9rd] {
    align-items: center;
    border: 1px solid var(--borderColor);
    border-radius: var(--border-radius-sm, 3px);
    color: var(--content);
    cursor: pointer;
    fill: var(--content);
    justify-content: center;
    min-width: 1.3rem;
}

    .InputButton.borderSolid:hover[b-b4aqhhf9rd] {
        border: 1px solid var(--borderColorHover, #f6f8fa);
    }

    .InputButton.Inplace[b-b4aqhhf9rd] {
        margin: var(--spacing-s);
    }

    .InputButton:hover[b-b4aqhhf9rd] {
        background: var(--surface-hover, whitesmoke);
    }

    .InputButton:active[b-b4aqhhf9rd] {
        background: var(--neutralLighter, lightgray);
    }

    .InputButton:hover:active[b-b4aqhhf9rd] {
        background: var(--surface-active, silver);
    }
/* _content/Bergsoft.Blazor/InputContainer.razor.rz.scp.css */
.InputContainerBase[b-xs0fgopdos] {
    display: inline-flex;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.InputContainer[b-xs0fgopdos] {
    color: var(--content, inherit);
    font-size: inherit;
    transition: outline ease-out 0.1s;
}

    .InputContainer:not(.Inplace)[b-xs0fgopdos] {
        background-color: var(--surface-secondary, whitesmoke);
        border: 1px solid transparent;
        border-radius: var(--border-radius-md, 6px);
    }

    .InputContainer.Inplace[b-xs0fgopdos] {
        background: none;
        border: none;
        height: 100%;
        width: 100%;
    }

    .InputContainer.Disabled[b-xs0fgopdos] {
        opacity: 0.5;
    }

    /*#region Focus outline */

    .InputContainer:focus:not(.Inplace)[b-xs0fgopdos],
    .InputContainer:focus-within:not(.Inplace)[b-xs0fgopdos] {
        outline-offset: var(--state-focus-border-offset, 0);
        outline: var(--state-focus-border-size, 2px) solid var(--state-focus-border, dodgerblue);
    }

    /*#endregion */

    /*#region BorderStyle styling */

    .InputContainer.BorderStyleSolid[b-xs0fgopdos] { border-color: var(--surface-active, gainsboro); }

        .InputContainer.BorderStyleSolid:hover:not(.Disabled)[b-xs0fgopdos] { border-color: var(--surface-hover, silver); }

    /*#endregion */
/* _content/Bergsoft.Blazor/Label.razor.rz.scp.css */
.LabelBase[b-lcixxmt9oj] {
    display: flex;
    flex-direction: column;
}

.ChildContent[b-lcixxmt9oj] {
    display: flex;
}

.LabelBase:not(.statusHidden)[b-lcixxmt9oj] {
    padding-left: 8px;
}

.Label[b-lcixxmt9oj] {
}

.Label .Title[b-lcixxmt9oj] {
    align-items: center;
    display: flex;
    gap: 2px;
    margin-bottom: var(--spacing, 4px);
}

.Required[b-lcixxmt9oj] {
    fill: var(--red, red);
}

.Label.statusError[b-lcixxmt9oj] {
    border-left: 2px solid var(--red, orangered);
}

.Label.statusModified[b-lcixxmt9oj] {
    border-left: 2px solid var(--yellow, gold);
}

.Label.statusSaved[b-lcixxmt9oj] {
    border-left: 2px solid var(--green, seagreen);
}
/* _content/Bergsoft.Blazor/ListBox.razor.rz.scp.css */
.ListBox[b-yga0b1w7mh] {
}

.ListBox[b-yga0b1w7mh] {
    overflow-y: auto;
}

.ListBox:focus[b-yga0b1w7mh] {
    outline: none;
}

.Item[b-yga0b1w7mh] {
    border-radius: var(--border-radius-sm, 4px);
    cursor: pointer;
    color: var(--content, black);
    display: flex;
    align-items: center;
    height: 28px;
    padding: 0 8px;
    user-select: none;
}

    .Item:hover[b-yga0b1w7mh] {
        background-color: var(--surface-hover, whitesmoke);
    }

    .Item.Selected:not(.HideSelection)[b-yga0b1w7mh] {
        background-color: var(--surface-active, silver);
        color: var(--content, black);
    }

.ListBox:focus .Item.Selected[b-yga0b1w7mh] {
    color: var(--state-selection-content, black);
    background-color: var(--state-selection-bg, lightblue);
    outline: none;
}
/* _content/Bergsoft.Blazor/Navigation/NavigationGroupHeader.razor.rz.scp.css */
.NavigationGroupHeader[b-7zph7kjt4d] {
    cursor: pointer;
    color: inherit;
    height: 48px;
    display: flex;
    align-items: center;
    transition: color 80ms cubic-bezier(.165, .84, .44,1), background 80ms linear;
    user-select: none;
}

    .NavigationGroupHeader.expanded[b-7zph7kjt4d] {
        background: var(--nav-vertical-active-group-background);
    }

    .NavigationGroupHeader[b-7zph7kjt4d]  > span {
        display: flex;
        align-items: center;
        font-weight: bold;
    }

    .NavigationGroupHeader[b-7zph7kjt4d]  .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 47px;
    }

    .NavigationGroupHeader:hover[b-7zph7kjt4d] {
        background: rgba(0, 0, 0, 0.06);
    }

    .NavigationGroupHeader img[b-7zph7kjt4d] {
        height: 24px;
        width: 24px;
        margin: 8px;
    }
/* _content/Bergsoft.Blazor/Navigation/NavigationItem.razor.rz.scp.css */
.NavigationItem[b-up8yrro5i8] {
    display: flex;
    height: 40px;
    align-items: center;
}

    .NavigationItem:hover[b-up8yrro5i8] {
        background: rgba(0, 0, 0, 0.06);
    }
/* _content/Bergsoft.Blazor/Navigation/NavigationView.razor.rz.scp.css */
.NavigationView[b-ia3dq2902b] {
    --palette-neutral-8: 234, 234, 234;
    --palette-primary: 0, 120, 212;
    --palette-neutral-100: 0, 0, 0;
    --palette-black-alpha-20: rgba(var(--palette-neutral-100), 0.20);
    --communication-background: rgba(var(--palette-primary), 1);

    /** navigation */
    --nav-vertical-active-group-background: rgba(var(--palette-neutral-100), 0.06);
    --nav-vertical-background-color: rgba(var(--palette-neutral-8), 1);
}

    .NavigationView[b-ia3dq2902b] {
        background: var(--nav-vertical-background-color);
        display: flex;
        flex-direction: column;
    }

        .NavigationView:last-child[b-ia3dq2902b] {
            margin-top: auto;
            border: 0;
        }

    .NavigationGroup[b-ia3dq2902b] {
        position: relative;
    }

    .NavigationGroup.expanded[b-ia3dq2902b] {
        background: var(--nav-vertical-active-group-background);
    }

    .NavigationGroup.expanded[b-ia3dq2902b]::before {
        bottom: 0;
        background-color: rgba(0,0,0,.2);
        background-color: var(--palette-black-alpha-20, rgba(0, 0, 0, .2));
        content: "";
        left: 0;
        position: absolute;
        top: 0;
        width: 3px;
    }

    .NavigationView a[b-ia3dq2902b] {
        align-items: center;
        display: flex;
        height: 40px;
        position: relative;
    }

��� .NavigationView a span[b-ia3dq2902b] {
        background: yellow;
        width: 47px;
    }

���� .NavigationView a.expanded[b-ia3dq2902b] {
    }

    .NavigationView a.expanded[b-ia3dq2902b]::before {
        background-color: rgba(0, 120, 212, 1);
        background-color: var(--communication-background, rgba(0, 120, 212, 1));
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        top: 0;
        width: 3px;
    }

.NavigationView .Footer[b-ia3dq2902b] {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.NavigationView .Toggle[b-ia3dq2902b] {
    background: inherit;
    border: 0;
    cursor: pointer;
    width: 47px;
}

    .NavigationView .Toggle.IsCompact svg[b-ia3dq2902b] {
        transform: rotate(180deg);
    }
/* _content/Bergsoft.Blazor/NumberTextBox.razor.rz.scp.css */
.ClearButton[b-vc8ktk0jp2] {
    background: none;
    border: 0;
    cursor: pointer;
    flex-shrink: 0;
    outline: none;
    padding: 0;
    stroke: var(--content, #000);
    stroke-width: 1px;
    padding: 0 10px 0 0;
}
/* _content/Bergsoft.Blazor/PopupMenu.razor.rz.scp.css */
.PopupMenu[b-h5xqfoi8pv] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 180px;
}
/* _content/Bergsoft.Blazor/PopupMenuGroup.razor.rz.scp.css */
.PopupMenuGroup[b-vz1p4jksry] {
    display: flex;
    flex-direction: column;
}

.Title[b-vz1p4jksry] {
    text-align: left;
    padding: 6px;
    font-weight: 500;
    margin: 8px 8px 1px 8px;
}
/* _content/Bergsoft.Blazor/PopupMenuOption.razor.rz.scp.css */
.PopupMenuOption[b-1xmiyf20lk] {
    align-items: center;
    border: 0;
    border-radius: var(--border-radius-sm, 4px);
    background: inherit;
    color: var(--content, black);
    cursor: pointer;
    display: flex;
    font-size: inherit;
    padding: 0;
    height: 32px;
}

    .PopupMenuOption div:first-child[b-1xmiyf20lk] {
        display: flex;
        align-items: center;
        width: 32px;
        justify-content: center;
    }

    .PopupMenuOption div:first-child svg[b-1xmiyf20lk] {
        fill: none;
        stroke: var(--content);
    }

    .PopupMenuOption:hover[b-1xmiyf20lk] {
        background: var(--surface-hover, whitesmoke);
    }

    .PopupMenuOption:active:not(:disabled)[b-1xmiyf20lk] {
        background: var(--borderColor, gainsboro);
    }

    .PopupMenuOption:disabled[b-1xmiyf20lk] {
        color: silver;
    }

    .PopupMenuOption .ChildContent[b-1xmiyf20lk] {
        text-align: left;
        flex: 1;
    }

    .PopupMenuOption .ShortCut[b-1xmiyf20lk] {
        display: flex;
        align-items: center;
        color: var(--grid-lines, silver);
        justify-content: center;
        width: 32px;
    }
/* _content/Bergsoft.Blazor/ProgressBar.razor.rz.scp.css */
.ProgressBarBase[b-3u2zgsr8h1] {
    height: 6px;
    border-radius: 100vh;
}

.Bar[b-3u2zgsr8h1] {
    background: var(--state-focus-border, dodgerblue);
    border-radius: 100vh;
    height: 100%;
    transition: all ease-out 0.5s;
}

.ProgressBar[b-3u2zgsr8h1] {
    background: var(--surface, whitesmoke);
}

    .ProgressBar.Yolk[b-3u2zgsr8h1] { background: #fdf4d4; }
    .ProgressBar.Yolk .Bar[b-3u2zgsr8h1] { background: #fcc902; }
    .ProgressBar.Acid .Bar[b-3u2zgsr8h1] { background: linear-gradient(to right, #00d031, #e0ff42); }
    .ProgressBar.Fire .Bar[b-3u2zgsr8h1] { background: linear-gradient(to right, #ff6d00, #ffe200); }

    .ProgressBar.Horizon .Bar[b-3u2zgsr8h1] {
        background: linear-gradient(to right, #f7c91e, #fb7f27, #f62df7, #00ffe7);
    }
/* _content/Bergsoft.Blazor/ProportionalBar.razor.rz.scp.css */
.ProportionalBarBase[b-1m96dq18uf] {
}

.Bars[b-1m96dq18uf] {
    display: flex;
}
/* _content/Bergsoft.Blazor/RadioButton.razor.rz.scp.css */
.RadioButton[b-71z8yk4py0] {
    align-items: center;
    cursor: pointer;
    display: flex;
    position: relative;
    height: 20px;
}

    .RadioButton input[b-71z8yk4py0] {
        position: absolute;
        opacity: 0;
        top: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
        margin: 0px;
    }

    .RadioButton label[b-71z8yk4py0]::before {
        content: "";
        display: inline-block;
        background-color: var(--surface, gainsboro);
        width: 20px;
        height: 20px;
        font-weight: normal;
        position: absolute;
        top: 0px;
        left: 0px;
        box-sizing: border-box;
        transition-property: border-color;
        transition-duration: 200ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.23, 1);
        border-radius: 50%;
    }

    .RadioButton:focus label[b-71z8yk4py0]::before,
    .RadioButton:focus-within label[b-71z8yk4py0]::before {
        outline-offset: var(--state-focus-border-offset, 0);
        outline: var(--state-focus-border-size, 2px) solid var(--state-focus-border, dodgerblue);
    }

    .RadioButton label:hover[b-71z8yk4py0]::before {
    }

    /** Checkmark dot */
    .RadioButton label:hover[b-71z8yk4py0]::after {
        content: "";
        transition-property: background-color;
        left: 5px;
        top: 5px;
        width: 10px;
        height: 10px;
        background-color: var(--neutralSecondary, black);
    }

    .RadioButton input:checked ~ label[b-71z8yk4py0]::before {
        background: var(--content, black);
    }

    .RadioButton input:checked ~ label[b-71z8yk4py0]::after {
        content: "";
        width: 8px;
        height: 8px;
        border-radius: 50%;
        position: absolute;
        left: 6px;
        right: 0px;
        transition-property: border-width;
        transition-duration: 200ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.23, 1);
        box-sizing: border-box;
        background: var(--content-inverted, white);
        top: 6px;
    }

.RadioButton span[b-71z8yk4py0] {
    display: inline-block;
    padding-left: 26px;
}
/* _content/Bergsoft.Blazor/RatingBar.razor.rz.scp.css */
.RatingBarBase[b-c2apfkw303] {
    align-items: center;
    display: inline-flex;
}

    .RatingBarBase button[b-c2apfkw303] {
        align-items: center;
        display: flex;
        padding: 0;
        background: inherit;
        border: 0;
    }

        .RatingBarBase button:hover[b-c2apfkw303] {
            cursor: pointer;
            transform: scale(110%);
        }
/* _content/Bergsoft.Blazor/SearchBox.razor.rz.scp.css */
.SearchBoxBase[b-p46o6evqzg] {
}

.SearchBoxBase[b-p46o6evqzg] {
    position: relative;
}

    .SearchBoxBase input[b-p46o6evqzg] {
        background: none;
        border: 0;
        color: var(--content);
        font-size: inherit;
        outline: none;
        padding: 6px;
        width: 100%;
    }

.SearchResults[b-p46o6evqzg] {
    display: flex;
    flex-direction: column;
    padding: var(--spacing, 4px);
}

.SearchResult[b-p46o6evqzg] {
    align-items: center;
    border-radius: var(--border-radius-sm, 4px);
    cursor: default;
    display: flex;
    gap: var(--spacing, 4px);
    padding: var(--spacing, 4px);
}

    .SearchResult:hover[b-p46o6evqzg] {
        background-color: var(--surface, silver);
    }

    .SearchResult.Selected[b-p46o6evqzg] {
        background: var(--state-selection-bg, lightblue);
    }
/* _content/Bergsoft.Blazor/SlidePanel.razor.rz.scp.css */
.SlidePanel[b-tejhzdwlht] {
    overflow: hidden;
}

.SlidePanel.collapsed[b-tejhzdwlht] {
    width: 40px;
}

    .SlidePanel.topRightRoundCorner[b-tejhzdwlht] {
        border-top-right-radius: var(--border-radius-lg, 8px);
    }

    .SlidePanel.bottomRightRoundCorner[b-tejhzdwlht] {
        border-bottom-right-radius: var(--border-radius-lg, 8px);
    }

    .SlidePanel > header[b-tejhzdwlht] {
        background: var(--surface, gainsboro);
        cursor: pointer;
        padding: var(--spacing-md, 8px);
        user-select: none;
        -webkit-user-select: none;
    }

    .SlidePanel > header > section[b-tejhzdwlht] {
        display: flex;
        align-items: center;
        gap: var(--spacing, 4px);
        fill: var(--content, black);
    }

    .SlidePanel > header:hover[b-tejhzdwlht] {
        background: var(--surface-hover, whitesmoke);
    }

    .SlidePanel > header > h4[b-tejhzdwlht] {
        font-weight: 200;
        font-size: larger;
    }

    .SlidePanel > header.collapsed[b-tejhzdwlht] {
        height: 100%;
    }

        .SlidePanel > header.collapsed > *[b-tejhzdwlht] {
            flex-shrink: 0;
        }

        .SlidePanel > header.collapsed > section[b-tejhzdwlht] {
            transform: rotate(90deg) translateX(var(--spacing-md, 8px));
            transform-origin: center center;
        }
/* _content/Bergsoft.Blazor/SpinButton.razor.rz.scp.css */
.SpinButton[b-l4pvn9uqlk] {
    background: inherit;
    border: 0;
    border-radius: var(--border-radius-sm, 5px);
    cursor: pointer;
    flex-shrink: 0;
    flex: 1;
    padding: 0;
    width: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .SpinButton[b-l4pvn9uqlk] {
        fill: var(--content);
    }

    .SpinButton.Condensed[b-l4pvn9uqlk] {
        width: 18px;
    }

    .SpinButton:hover[b-l4pvn9uqlk] {
        background: var(--surface-hover, gainsboro);
    }

        .SpinButton:active[b-l4pvn9uqlk] {
            background: var(--surface-active, lightgray);
        }

        .SpinButton:hover:active[b-l4pvn9uqlk] {
            background: var(--surface-active, silver);
        }
/* _content/Bergsoft.Blazor/SpinTextBox.razor.rz.scp.css */
.SpinTextBox[b-63br0w1xnb] {
    display: inline-flex;
    align-items: stretch;
}

    .SpinTextBox button svg[b-63br0w1xnb] {
        stroke: gray;
    }

    .SpinTextBox button svg:hover svg[b-63br0w1xnb] {
        stroke: dimgray;
    }

    .ProgressBar[b-63br0w1xnb] {
        height: 2px;
        cursor: grab;
        position: relative;
        margin: -1px 2px;
        bottom: 2px;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
    }

    .Progress[b-63br0w1xnb] {
        background: var(--green, seagreen);
        border-radius: 1px;
        height: 100%;
        transition: height ease-in-out 0.15s;
    }

        .Progress:active[b-63br0w1xnb] {
            cursor: grabbing;
        }

.Prefix[b-63br0w1xnb],
.Suffix[b-63br0w1xnb] {
    display: flex;
    align-items: center;
    opacity: .5;
    padding-left: var(--spacing-md, 8px);
}

.SpinButtons[b-63br0w1xnb] { display: none }

.SpinTextBox:focus .SpinButtons[b-63br0w1xnb],
.SpinTextBox:focus-within .SpinButtons[b-63br0w1xnb] {
    display: flex;
}

    .SpinButtons.SideBySide[b-63br0w1xnb] { flex-direction: row; }
    .SpinButtons.Vertical[b-63br0w1xnb] {
        flex-direction: column-reverse;
    }

@media (max-width: 600px) {
    .ProgressBar:hover .Progress[b-63br0w1xnb] {
        border-radius: 4px;
        height: 8px;
    }
}
/* _content/Bergsoft.Blazor/Splitter.razor.rz.scp.css */
.Splitter[b-926fq35are] {
    cursor: ns-resize;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
}

    .Splitter:hover[b-926fq35are] {
        background: var(--surface-hover, gainsboro);
    }

.Splitter:not(.vertical) svg[b-926fq35are] {
    height: 5px;
}

    .Splitter.vertical[b-926fq35are] {
        cursor: ew-resize;
    }

    .Splitter.vertical svg[b-926fq35are] {
        min-width: 20px;
        min-height: 5px;
        transform: rotate(90deg);
    }

.Splitter:hover[b-926fq35are] {  }

    .Splitter:hover svg path[b-926fq35are] {
        transition: all, ease-in-out, 0.5s;
    }

.Splitter svg path[b-926fq35are] { fill: #b5b5b5; }

    .Splitter:hover svg[b-926fq35are] { }

    .Splitter:hover svg path[b-926fq35are] {
        fill: #444;
    }

    .Splitter.dragging:hover[b-926fq35are] {
        background: yellow;
    }
/* _content/Bergsoft.Blazor/StepsBar.razor.rz.scp.css */
.StepsBarBase[b-bb9bgwudpb] {
    display: flex;
    justify-content: space-between;
    --inactveColor: var(--surface);
}

.StepsBar[b-bb9bgwudpb] {
    gap: 4px;
    height: 4px;
}

.StepBase[b-bb9bgwudpb] {
    background: none;
    border: 0;
    flex-grow: 1;
}

.Step[b-bb9bgwudpb] {
    background: var(--inactveColor);
    border-radius: 100vh;
}

    .Step.CanClick[b-bb9bgwudpb] { cursor: pointer; }
    .Step.CanClick:hover[b-bb9bgwudpb] {
        opacity: 0.5;
    }

    .Step.Active[b-bb9bgwudpb] {
        background-color: var(--state-focus-border, dodgerblue);
    }

        .Step.Active.Yolk[b-bb9bgwudpb] {
            background: #fcc902;
        }

        .Step.Active.Fire[b-bb9bgwudpb] {
            background: linear-gradient(to right, #ff6d00, #ffe200);
        }

        .Step.Active.Marine[b-bb9bgwudpb] {
            background: linear-gradient(to right, #00b48a, #49daff);
        }

        .Step.Active.Acid[b-bb9bgwudpb] {
            background: linear-gradient(to right, #00d031, #e0ff42);
        }

.Step.Active.Horizon[b-bb9bgwudpb] {
    background: linear-gradient(to right, #f7c91e, #fb7f27, #f62df7, #00ffe7);
}

@keyframes gradientAnimation-b-bb9bgwudpb {
    0% {
        background-position-x: 0%;
    }

    50% {
        background-position-x: 50%;
    }

    100% {
        background-position-x: 100%;
    }
}
/*
.Step.Last {
    animation: gradientAnimation 5s ease infinite;
    background-size: 300%;
    background: linear-gradient(to right, var(--activeColor), var(--inactiveColor));
}*/
/* _content/Bergsoft.Blazor/StepsList.razor.rz.scp.css */
.StepsListBase[b-vimtk5jzew] {
    display: flex;
    flex-direction: column;
}

.ItemBase[b-vimtk5jzew] {
    border: 0;
    background: none;
    outline: none;
}

.Item[b-vimtk5jzew] {
    align-items: stretch;
    color: var(--content);
    display: flex;
    gap: 8px;
    padding: 0 var(--spacing-l);
}

.Item.CanChange:hover[b-vimtk5jzew] {
    background: var(--surface);
    cursor: pointer;
}

.Item svg[b-vimtk5jzew] {
    fill: var(--content);
    transition: transform linear 0.25s;
}

    .Item.Active svg[b-vimtk5jzew] {
        fill: var(--primary);
    }

    .Item svg.bulletPoint circle[b-vimtk5jzew] {
        transition: transform linear 0.25s;
        transform: scale(.75);
    }

    .Item.Active svg.bulletPoint circle[b-vimtk5jzew] {
        transform: scale(1);
    }

    .line[b-vimtk5jzew] {
        width: 6px;
        transition: all ease-out 0.25s;
        border-left: 2px solid var(--state-focus-border, dodgerblue);
        opacity: .25;
    }

    .Item.Active .line[b-vimtk5jzew] {
        opacity: 1;
    }

.ContentBase[b-vimtk5jzew] {
    flex: 1;
    text-align: left;
}

.Content[b-vimtk5jzew] {
    padding: var(--spacing-l) 0;
}
/* _content/Bergsoft.Blazor/TagsBar.razor.rz.scp.css */
.TagsBar[b-83wsfl84fd] {
    --tagsSpacing: 1px;
}

.TagsBar[b-83wsfl84fd] {
    display: inline-flex;
    gap: var(--tagsSpacing);
    padding: 1px;
    user-select: none;
    -webkit-user-select: none;
}

    .TagsBar:focus[b-83wsfl84fd],
    .TagsBar:focus-within[b-83wsfl84fd] {
        outline: none;
    }

    .TagsBar .BaseTag[b-83wsfl84fd] {
        cursor: default;
        text-decoration: none;
        display: flex;
        align-items: center;
    }

    .TagsBar .Tag[b-83wsfl84fd] {
        background: var(--surface, gainsboro);
        padding: 0 4px;
    }

.Tag.rectangle[b-83wsfl84fd] {
    border-radius: 0;
}

.Tag.roundCorners[b-83wsfl84fd] {
    border-radius: 3px;
}

.Tag.pillShape[b-83wsfl84fd] {
    border-radius: 50vh;
    padding: 0 8px;
}

.Tag:hover[b-83wsfl84fd] {

}

.TagsBar .Tag.Selected[b-83wsfl84fd] {
    background: var(--state-selection-bg, lightblue);
}
/* _content/Bergsoft.Blazor/TextBox.razor.rz.scp.css */
.ClearButton[b-i7v72m661x] {
    background: none;
    border: 0;
    cursor: pointer;
    flex-shrink: 0;
    outline: none;
    stroke: var(--content, #000);
    stroke-width: 1px;
    padding: 0 5px;
}

    .ClearButton svg[b-i7v72m661x] { stroke: gray; }
    .ClearButton:hover svg[b-i7v72m661x] { stroke: dimgray; }
/* _content/Bergsoft.Blazor/Toast.razor.rz.scp.css */
.BaseToast[b-tlmgdm93g1] {
    --fallback-neutralLight: #f0f0f0;
    --fallback-borderRadiusMedium: 4px;
}

.BaseToast[b-tlmgdm93g1] {
    background: var(--neutralLight, var(--fallback-neutralLight));
    border-radius: var(--borderRadiusMedium, var(--fallback-borderRadiusMedium));
    padding: 8px;
    position: absolute;
    right: 40px;
    width: 200px;
}

    .BaseToast h2[b-tlmgdm93g1] {
        margin: 0;
    }
/* _content/Bergsoft.Blazor/Toggle.razor.rz.scp.css */
.ToggleBase[b-h0sf6tf1dh] {
    display: inline-block;
    position: relative;
}

    .ToggleBase.IsChecked[b-h0sf6tf1dh] {
    }

.Toggle[b-h0sf6tf1dh] {
    border: none;
    background: var(--surface, gainsboro);
    border-radius: 100vh;
    cursor: pointer;
    overflow: clip;
    padding: 2px;
    transition: outline ease-out 0.1s, background ease-out .15s;
    width: 42px;
}

    .Toggle.IsChecked[b-h0sf6tf1dh] {
        border: none;
        background: var(--content, black);
        color: var(--content, white)
    }

    .Toggle:focus[b-h0sf6tf1dh] {
        outline-offset: var(--state-focus-border-offset, 0);
        outline: var(--state-focus-border-size, 2px) solid var(--state-focus-border, dodgerblue);
    }

    .ChildContent[b-h0sf6tf1dh] {
        display: flex;
        justify-content: end;
        align-items: center;
        padding: 0 4px;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 0;
    }

    .Toggle.IsChecked .ChildContent[b-h0sf6tf1dh] {
        justify-content: start;
    }

.Knob[b-h0sf6tf1dh] {
    background: var(--content-inverted, white);
    border-radius: 9px;
    height: 18px;
    width: 18px;
    transition: transform ease-out .1s;
    transform: translateX(0);
    z-index: 1;
}

.Toggle.IsChecked .Knob[b-h0sf6tf1dh] {
    transform: translateX(20px);
}
/* _content/Bergsoft.Blazor/Toolbar.razor.rz.scp.css */
.ToolbarBase[b-lmf2y2eja1] {
    display: flex;
    align-items: center;
}

.Toolbar[b-lmf2y2eja1] {
    background: var(--surface, gainsboro);
    border-radius: 10px;
    padding: var(--spacing, 4px);
}
/* _content/Bergsoft.Blazor/ToolButton.razor.rz.scp.css */
.ToolButtonBase[b-1jvj2s91w2] {
    background: none;
    border: 0;
    display: inline-flex;
    outline: none;
}

.ToolButton[b-1jvj2s91w2] {
    align-items: center;
    border-radius: var(--border-radius-md, 6px);
    color: var(--content, inherit);
    cursor: pointer;
    fill: var(--content, black);
    justify-content: center;
}

    .ToolButton.spacingTight[b-1jvj2s91w2] {
        padding: var(--spacing, 4px);
    }

    .ToolButton.spacingSpacious[b-1jvj2s91w2] {
        padding: var(--spacing-md, 8px);
    }

    .ToolButton:hover[b-1jvj2s91w2] {
        background: var(--surface-hover, whitesmoke);
    }

    .ToolButton:active[b-1jvj2s91w2] {
        background: var(--surface-active, lightgray);
    }

    .ToolButton.borderSolid:hover[b-1jvj2s91w2] {
        border: 1px solid var(--borderColorHover, #f6f8fa);
    }

    .ToolButton.Inplace[b-1jvj2s91w2] {
        margin: var(--spacing-s);
    }

    .ToolButton.Scale[b-1jvj2s91w2] {
        transition: transform 0.2s ease;
    }

    .ToolButton:hover.Scale[b-1jvj2s91w2] {
        transform: scale(1.2);
    }

    .ToolButton.Bounce[b-1jvj2s91w2] {
        transition: transform 0.2s ease;
    }

    .ToolButton:hover.Bounce[b-1jvj2s91w2] {
        animation: bounce-b-1jvj2s91w2 0.75s ease;
    }

    .ToolButton.FadeIn[b-1jvj2s91w2] {
        transition: opacity 0.2s ease;
        opacity: 0.5;
    }

    .ToolButton:hover.FadeIn[b-1jvj2s91w2] {
        opacity: 1;
    }

    .ToolButton.Saturation[b-1jvj2s91w2] {
        filter: grayscale(100%);
        transition: filter 0.2s ease-in-out;
    }

    .ToolButton:hover.Saturation[b-1jvj2s91w2] {
        filter: grayscale(0%);
    }

    .ToolButton:hover.Danger[b-1jvj2s91w2] {
        color: var(--content-danger, indianred);
        fill: var(--content-danger, indianred);
        background: var(--surface-danger, mistyRose);
    }

    .ToolButton:hover.Success[b-1jvj2s91w2] {
        color: var(--content-success, forestgreen);
        fill: var(--content-success, forestgreen);
        background: var(--surface-success, lightgreen);
    }

@keyframes bounce-b-1jvj2s91w2 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    75% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1.1);
    }
}
/* _content/Bergsoft.Blazor/ToolDivider.razor.rz.scp.css */
.ToolDivider[b-qb6i9d23ep] {
    fill: var(--grid-lines, silver);
    padding: .4em;
    display: flex;
    align-items: center;
}
/* _content/Bergsoft.Blazor/Tooltip.razor.rz.scp.css */
.TooltipContainer[b-60dfivcgdc] {
    --beakSize: 12px;
    position: relative;
    display: inline-block;
}

.TooltipBase[b-60dfivcgdc] {
    visibility: hidden;
    position: absolute;
    z-index: 90000;
    opacity: 0;
    top: 100%;
    margin-top: 4px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

    .BeakBase[b-60dfivcgdc] {
        width: var(--beakSize, 12px);
        height: var(--beakSize, 12px);
        position: absolute;
        z-index: 15000;
        box-shadow: inherit;
        transform: rotate(45deg);
        left: 50%;
        top: 0;
    }

    .Beak[b-60dfivcgdc] {
        background: inherit;
        border-radius: var(--border-radius-sm, 4px);
    }

.Tooltip[b-60dfivcgdc] {
    background: var(--content, black);
    color: var(--content-inverted, white);
    padding: var(--spacing-md, 8px);
    border-radius: var(--border-radius-lg, 6px);
    z-index: 20000;
    font-weight: 400;
}

    .Tooltip header[b-60dfivcgdc] {
        font-weight: 600;
    }

.Separator[b-60dfivcgdc] {
    border-bottom: 1px solid var(--content-inverted, white);
    margin: var(--spacing-md, 8px) 0;
    opacity: .35;
}

.TooltipContainer:hover .TooltipBase[b-60dfivcgdc] {
    visibility: visible;
    opacity: 1;
}
/* _content/Bergsoft.Blazor/TrackBar.razor.rz.scp.css */
.TrackBar *[b-3qt8pi3ylh] {
    --knobSize: 16px;
    box-sizing: border-box;
}

.TrackBar[b-3qt8pi3ylh] {
    display: inline-block;
    min-width: 56px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.Slide[b-3qt8pi3ylh] {
    border-radius: 100vh;
    background-color: var(--surface-secondary, whitesmoke);
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.Knob[b-3qt8pi3ylh] {
    position: absolute;
    top: calc(50% - var(--knobSize) / 2);
    width: var(--knobSize);
    height: var(--knobSize);
    background-color: var(--content, black);
    border-radius: 50%;
    transition: outline ease-out 0.1s, transform ease-out 0.1s;
}

    .Knob.transparent[b-3qt8pi3ylh] {
        background: transparent;
        border: 2px solid var(--content, black);
    }

    .Knob:hover[b-3qt8pi3ylh] {
        cursor: grab;
    }

    .Knob:active[b-3qt8pi3ylh] {
        cursor: grabbing;
    }

    .Knob:hover.transparent[b-3qt8pi3ylh] {
        border: 2px solid var(--content, black);
        box-shadow: 1px 1px var(--border-radius-md, 6px) var(--surface, gainsboro);
    }

    .Knob:hover:not(.transparent)[b-3qt8pi3ylh] {
        background-color: var(--content, black);
        box-shadow: 1px 1px var(--border-radius-md, 6px) var(--surface, gainsboro);
    }

.Progress[b-3qt8pi3ylh] {
    position: absolute;
    left: 0;
    top: 0;
    background: var(--green, seagreen);
    border-radius: 100vh;
    bottom: 0;
}

.TrackBar:focus[b-3qt8pi3ylh] {
    outline: none;
}

    .TrackBar:focus .Knob[b-3qt8pi3ylh],
    .TrackBar:focus-within .Knob[b-3qt8pi3ylh] {
        outline-offset: var(--state-focus-border-offset, 0);
        outline: var(--state-focus-border-size, 2px) solid var(--state-focus-border, dodgerblue);
    }

@media (max-width: 600px) {
    .Knob:hover[b-3qt8pi3ylh] {
        transform: scale(1.35);
    }
}
